Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: better data pipes between TheGraph and Supabase (#537)
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/lookup_gtc_user.py
Due: none

fix(sdk): update formatter and schema undefineds
  sdk/src/resources/schema/metadata.json
  sdk/src/utils/formatter.ts
  sdk/test/formatter.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore(sdk): release notes and version bump
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write --ignore-path .gitignore

fix: set claimId as primary key
  utils/supabase/claims_metadata_mapper.py
Due: none

fix: set claimId as primary key (#539)
  utils/supabase/claims_metadata_mapper.py
Due: none

feat(sdk): add Winston logger and logfile
  package.json
  sdk/package.json
  sdk/src/config.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/utils/logger.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(err): minimal error handling and test
  sdk/.eslintrc.yml
  sdk/src/errors.ts
  sdk/src/utils/errors.ts
  sdk/test/utils/errors.test.ts
  sdk/test/utils/formatter.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(error): setting up error type handling - wip
  sdk/src/errors.ts
  sdk/src/utils/errors.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(err): error typing and test
  sdk/src/config.ts
  sdk/src/errors.ts
  sdk/src/utils/errors.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: add static CSV export module
  utils/supabase/claims_metadata_mapper.py
Due: none

feat: analytics on how many tokens have been claimed by wallet address
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

Utils/supabase 3 (#541)
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

feat(error): cleanup and console only
  sdk/.eslintrc.yml
  sdk/package.json
  sdk/src/config.ts
  sdk/src/errors.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/src/utils/errors.ts
  sdk/src/utils/logger.ts
  sdk/test/utils/errors.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(error): implement error handling and logging
  sdk/.env.template
  sdk/.eslintrc.yml
  sdk/.prettierrc.yml
  sdk/src/config.ts
  sdk/src/errors.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/queries/claims.ts
  sdk/src/utils/errors.ts
  sdk/src/utils/formatter.ts
  sdk/src/utils/requireEnv.ts
  sdk/src/utils/resolvers.ts
  sdk/src/validator/index.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/test/utils/formatter.test.ts
  sdk/test/validator.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(graph): removed magic query limit
  sdk/.graphclient/index.ts
  sdk/.prettierrc.yml
  sdk/RELEASE.md
  sdk/src/queries/fractions.graphql
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): released SDK 0.0.32
  sdk/.graphclient/index.ts
  sdk/RELEASE.md
  sdk/src/queries/fractions.graphql
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(err): update frontend sdk integrations
  frontend/components/hypercert-create.tsx
  frontend/components/hypercert-fetcher.tsx
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/verify-fraction-claim.ts
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Handle undefined/empty values in metadata formatting (#538)
  sdk/.graphclient/index.ts
  sdk/RELEASE.md
  sdk/package.json
  sdk/src/queries/fractions.graphql
  sdk/src/resources/schema/metadata.json
  sdk/src/utils/formatter.ts
  sdk/test/formatter.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(build): turbo dependencies config
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/utils/errors.ts
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(lint): linting errors
  sdk/.eslintrc.yml
  sdk/.prettierrc.yml
Due: none

fix(turbo): pipeline
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo): typechain generation step
  contracts/package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo): contract and sdk build
  contracts/src/index.ts
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(turbo): sequencing
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo): flakey build.
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo): dependson
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo: graph hoist
  package.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): dep update
  yarn.lock
Due: none

feat(turbo): enable caching test, lint
  turbo.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): finer caching
  turbo.json
Due: prettier --write --ignore-path .gitignore

feat(prettier): prettierignore with .graphclient
  .lintstagedrc
  .prettierignore
  contracts/package.json
  contracts/tsconfig.build.json
  sdk/.graphclient/index.ts
  sdk/.prettierignore
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(turbo): contracts typechain cleanup
  contracts/package.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): simplify package build contracts
  contracts/package.json
  contracts/src/index.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.json
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(turbo): abi import
  contracts/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(turbo): contract eslint
  contracts/.eslintignore
  contracts/.eslintrc.yml
Due: none

feat(turbo): build wait on build contracts
  turbo.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): split contract build step
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix(turbo): contract package build steps
  contracts/package.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): build:ts build:hardhat switch
  contracts/package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

feat(turbo): contract packaging take 100
  contracts/package.json
  contracts/tsconfig.build.json
  contracts/tsconfig.json
Due: prettier --write --ignore-path .gitignore

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write --ignore-path .gitignore: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
