Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

feat: Adding lint-staged (#316)
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  cors-proxy/package.json
  defender/package.json
  frontend/package.json
  package.json
  turbo.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: separate build script for just the web app
  package.json
Due: prettier --write --ignore-path .gitignore

fix: separate build script for just the web app (#317)
  package.json
Due: prettier --write --ignore-path .gitignore

feat: adding subgraph to the build
  README.md
  contracts/package.json
  cors-proxy/package.json
  defender/package.json
  docs/package.json
  frontend/package.json
  graph/.gitignore
  graph/package.json
  graph/tests/.bin/hypercert-minter-allowlist.wasm
  graph/tests/.bin/hypercert-minter-allowlist.wat
  graph/tests/.bin/hypercert-minter-claim.wasm
  graph/tests/.bin/hypercert-minter-claim.wat
  graph/tests/.bin/hypercert-minter-fraction.wasm
  graph/tests/.bin/hypercert-minter-fraction.wat
  graph/tests/.bin/hypercert-minter.wasm
  graph/tests/.bin/hypercert-minter.wat
  graph/tests/.bin/proxy.wasm
  graph/tests/.bin/proxy.wat
  graph/tests/.latest.json
  graph/yarn.lock
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat: adding subgraph to the build (#318)
  README.md
  contracts/package.json
  cors-proxy/package.json
  defender/package.json
  docs/package.json
  frontend/package.json
  graph/.gitignore
  graph/package.json
  graph/tests/.bin/hypercert-minter-allowlist.wasm
  graph/tests/.bin/hypercert-minter-allowlist.wat
  graph/tests/.bin/hypercert-minter-claim.wasm
  graph/tests/.bin/hypercert-minter-claim.wat
  graph/tests/.bin/hypercert-minter-fraction.wasm
  graph/tests/.bin/hypercert-minter-fraction.wat
  graph/tests/.bin/hypercert-minter.wasm
  graph/tests/.bin/hypercert-minter.wat
  graph/tests/.bin/proxy.wasm
  graph/tests/.bin/proxy.wat
  graph/tests/.latest.json
  graph/yarn.lock
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat: continuous deployment of the subgraph
  .github/workflows/deploy-graph.yml
  README.md
  graph/.env.example
  graph/README.md
  graph/networks.json
  graph/package.json
  package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

feat: continuous deployment of the subgraph (#319)
  .github/workflows/deploy-graph.yml
  README.md
  graph/.env.example
  graph/README.md
  graph/networks.json
  graph/package.json
  package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix: subgraph deployment
  .github/workflows/deploy-graph.yml
  README.md
  package.json
Due: prettier --write --ignore-path .gitignore

fix: subgraph deployment (#320)
  .github/workflows/deploy-graph.yml
  README.md
  package.json
Due: prettier --write --ignore-path .gitignore

docs: added FAQs
  docs/docs/faq.md
Due: none

docs: added FAQs (#321)
  docs/docs/faq.md
Due: none

feat: add github action to continuously deploy cors-proxy
  .github/workflows/deploy-cors-proxy.yml
Due: none

feat: add github action to continuously deploy cors-proxy (#322)
  .github/workflows/deploy-cors-proxy.yml
Due: none

fix: wrangler-action needs the path to publish for some reason
  .github/workflows/deploy-cors-proxy.yml
Due: none

fix: wrangler-action needs the path to publish for some reason (#323)
  .github/workflows/deploy-cors-proxy.yml
Due: none

fix: wrangler-action needs a working directory
  .github/workflows/deploy-cors-proxy.yml
Due: none

fix: wrangler-action needs a working directory (#324)
  .github/workflows/deploy-cors-proxy.yml
Due: none

Fix: typo
  docs/docs/faq.md
Due: none

Fix: typo
  docs/docs/implementation/glossary.md
Due: none

Fix: typo
  docs/docs/implementation/token-standard.md
Due: none

Fix: typo
  docs/docs/minting-guide/minting-guide-start.md
Due: none

Fix: typos
  docs/docs/minting-guide/step-by-step.md
Due: none

docs: fixed broken link
  docs/docs/faq.md
Due: none

docs: fixed broken link (#326)
  docs/docs/faq.md
Due: none

chore: update docs sidebar.js
  docs/sidebars.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: update docs sidebar.js (#331)
  docs/sidebars.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: create csv version of project data
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

chore: create csv version of project data (#333)
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

Update faq.md
  docs/docs/faq.md
Due: none

Update sidebars.js
  docs/sidebars.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Edits faq (#334)
  docs/docs/faq.md
  docs/sidebars.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Create about.md
  docs/docs/about.md
Due: none

Update docusaurus.config.js
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Fix: typos (#325)
  docs/docs/faq.md
  docs/docs/implementation/glossary.md
  docs/docs/implementation/token-standard.md
  docs/docs/minting-guide/minting-guide-start.md
  docs/docs/minting-guide/step-by-step.md
Due: none

feat: grab safe and ens data
  utils/gitcoin/.env.example
  utils/gitcoin/analyze_address.py
  utils/gitcoin/data/projects/canonical_project_data.json
Due: prettier --write --ignore-path .gitignore

feat: grab safe and ens data (#338)
  utils/gitcoin/.env.example
  utils/gitcoin/analyze_address.py
  utils/gitcoin/data/projects/canonical_project_data.json
Due: prettier --write --ignore-path .gitignore

feat: continuous deploy defender tasks
  .github/workflows/deploy-defender.yml
  README.md
  defender/package.json
  defender/src/config.ts
  package.json
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

feat: continuous deploy defender tasks (#339)
  .github/workflows/deploy-defender.yml
  README.md
  defender/package.json
  defender/src/config.ts
  package.json
Due: eslint --ignore-path .gitignore, prettier --write --ignore-path .gitignore

fix: outdated url
  docs/docs/minting-guide/step-by-step.md
Due: none

fix(currentID): remove unused var
  contracts/src/SemiFungible1155.sol
Due: none

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx}
  prettier --write --ignore-path .gitignore: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
