Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

Revert "change create blueprint form wrapper to wrapper component to not pollute git history"
  frontend/components/blueprint-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

add contribution blueprint functionality wrapper (#988)
  frontend/components/add-registry-dialog.tsx
  frontend/components/blueprint-create.tsx
  frontend/components/contribution-blueprint-create.tsx
  frontend/hooks/list-registries.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

add form fields and supabase interaction
  frontend/components/blueprint-create.tsx
  frontend/hooks/createBlueprintInRegistry.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

merge fixes
  frontend/components/blueprint-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

Feature/registry admin (#989)
  frontend/components/blueprint-create.tsx
  frontend/hooks/createBlueprintInRegistry.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat(iface): draft of trader interface
  contracts/src/interfaces/IHypercertTrader.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

Update README.md
  README.md
Due: prettier --write

feat(trader): simple offer, buy, cancel flow
  contracts/src/HypercertMinter.sol
  contracts/src/HypercertTrader.sol
  contracts/src/interfaces/IHypercertTrader.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(update): update deps graph and sdk
  graph/generated/schema.ts
  graph/package.json
  sdk/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat(release): release 0.3.1
  frontend/package.json
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write

chore(update): update deps graph and sdk (#1048)
  frontend/package.json
  graph/generated/schema.ts
  graph/package.json
  sdk/RELEASE.md
  sdk/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(lint): cleanup lint ignores
  .lintstagedignore
  .lintstagedrc
Due: none

chore(lint): defender lint errors
  defender/src/setup.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(deploy): reduce optimizer run for kb limit
  contracts/.openzeppelin/goerli.json
  contracts/foundry.toml
  contracts/hardhat.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(script): update upgrade script
  contracts/tasks/upgrade.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat(gha): split graph deploy develop-main
  .github/workflows/deploy-graph.yml
  graph/package.json
  package.json
Due: prettier --write

chore(lint): line length rule to warn from err
  contracts/.solhint.json
Due: prettier --write

chore(gha): run CI on PR to develop
  .github/workflows/ci-default.yml
Due: none

chore(gha): run e2e,ci on pr,push to develop
  .github/workflows/ci-default.yml
  .github/workflows/e2e-tests.yml
Due: none

feat(graph): update graph for burn methods
  graph/.eslintrc.yml
  graph/abis/HypercertMinter.json
  graph/generated/HypercertMinter/HypercertMinter.ts
  graph/src/hypercert-minter.ts
  graph/tests/.latest.json
  graph/tests/hypercert-minter-burn.test.ts
  graph/tests/hypercert-minter-utils.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

Feat/batch burn (#1051)
  .github/workflows/ci-default.yml
  .github/workflows/deploy-graph.yml
  .github/workflows/e2e-tests.yml
  .lintstagedignore
  .lintstagedrc
  contracts/.openzeppelin/goerli.json
  contracts/.solhint.json
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/src/HypercertMinter.sol
  contracts/src/SemiFungible1155.sol
  contracts/src/interfaces/IHypercertToken.sol
  contracts/tasks/upgrade.ts
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.burning.t.sol
  contracts/test/foundry/SemiFungibleHelper.sol
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
  docs/.eslintrc.yml
  docs/docs/developer/api/contracts/HypercertMinter.md
  docs/docs/developer/api/contracts/SemiFungible1155.md
  docs/docs/developer/api/contracts/interfaces/IHypercertToken.md
  docs/package.json
  frontend/.eslintrc.json
  graph/.eslintrc.yml
  graph/abis/HypercertMinter.json
  graph/generated/HypercertMinter/HypercertMinter.ts
  graph/package.json
  graph/src/hypercert-minter.ts
  graph/tests/.latest.json
  graph/tests/hypercert-minter-burn.test.ts
  graph/tests/hypercert-minter-utils.ts
  package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(turbo): split graph deploys
  package.json
Due: prettier --write

feat(db): update allowlist query
  frontend/hooks/mintFractionAllowlistBatch.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(turbo): split graph deploys (#1055)
  package.json
Due: prettier --write

fix(graph): link claim with allowlist
  graph/schema.graphql
  graph/tests/.latest.json
Due: prettier --write

chore(tweak): yada
  graph/generated/schema.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat(db): update allowlist query (#1057)
  frontend/hooks/mintFractionAllowlistBatch.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(yarn): update workspace label
  package.json
Due: prettier --write

Fix/workspace label (#1060)
  package.json
Due: prettier --write

1052 subgraph a claimed token should indicate whether it was claimed from an allowlist (#1058)
  graph/generated/schema.ts
  graph/schema.graphql
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

fix(graph): update mapping to claim
  graph/src/utils.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

fix(graph): update mapping to claim (#1061)
  graph/src/utils.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat: GR18 scripts
  utils/gitcoin/GR18/.env.example
  utils/gitcoin/GR18/.gitignore
  utils/gitcoin/GR18/README.md
  utils/gitcoin/GR18/ai_helper.py
  utils/gitcoin/GR18/config.json
  utils/gitcoin/GR18/get_ens.py
  utils/gitcoin/GR18/get_grants_data.py
  utils/gitcoin/GR18/minting_urls.py
  utils/gitcoin/GR18/process_images.py
  utils/gitcoin/GR18/requirements.txt
  utils/gitcoin/GR18/workflow.sh
Due: prettier --write

feat: get list of all projects
  utils/gitcoin/get_projects_in_round.py
Due: none

feat(test): tweaks and initial tests for Trader
  contracts/src/HypercertMinter.sol
  contracts/src/HypercertTrader.sol
  contracts/src/SemiFungible1155.sol
  contracts/src/interfaces/IHypercertTrader.sol
  contracts/test/foundry/HypercertTrader.offers.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

chore(gha): remove hardcoded foundry nightly
  .github/workflows/ci-default.yml
Due: none

feat(test): add initial test for trader sales
  contracts/src/HypercertTrader.sol
  contracts/src/interfaces/IHypercertTrader.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

feat(test): sales tests
  contracts/src/HypercertTrader.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

v0.1.0
  contracts/package.json
Due: prettier --write

feat(publish): cjs and esm in contracts 0.1.0
  contracts/.npmignore
  contracts/hardhat.config.ts
  contracts/src/index.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.cjs.json
  contracts/tsconfig.esm.json
  contracts/tsconfig.json
  frontend/package.json
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/package.json
  sdk/src/client.ts
  sdk/src/types/client.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
