Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

v0.3.0
  contracts/package.json
Due: prettier --write

v0.4.0
  contracts/package.json
Due: prettier --write

feat(release): contracts 0.4.0 CJS and ESM
  contracts/rollup.config.mjs
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.6.0
  sdk/package.json
Due: prettier --write

chore(update): update hc packages in fe
  frontend/package.json
Due: prettier --write

fix(graph): graph ci-cd for dev and pr
  .github/workflows/deploy-defender.yml
  graph/subgraph.yaml
  graph/tests/.latest.json
  package.json
Due: prettier --write

fix(foundry): remove hardcoded version from gha
  .github/workflows/ci-default.yml
Due: none

chore(update): matchstick lib
  graph/package.json
  yarn.lock
Due: prettier --write

fix(gha): move changes to correct files
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
Due: none

fix(test): contract tests after foundry update
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(lint): bypass lint warns
  contracts/.prettierignore
  contracts/package.json
Due: prettier --write

1053 sdk sdk and contract should build for cjs and esm (#1064)
  .github/workflows/ci-default.yml
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
  contracts/.npmignore
  contracts/.prettierignore
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
  contracts/tsconfig.build.json
  contracts/tsconfig.cjs.json
  contracts/tsconfig.esm.json
  contracts/tsconfig.json
  frontend/package.json
  graph/package.json
  graph/subgraph.yaml
  graph/tests/.latest.json
  package.json
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(sepolia): deploy to Sepolia and add to SDK
  README.md
  contracts/.openzeppelin/unknown-11155111.json
  sdk/src/constants.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(defender): depoy per environment
  .github/workflows/deploy-defender.yml
  defender/package.json
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/config.ts
  defender/src/create-autotask.ts
  defender/src/create-sentinel.ts
  defender/src/networks.ts
  defender/src/reset.ts
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
  package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(graph): sepolia config, test prod deploy
  .github/workflows/deploy-graph.yml
  graph/networks.json
  graph/package.json
  package.json
Due: prettier --write

fix: update gitignore
  .gitignore
Due: none

fix: swap ipfs gateway
  utils/gitcoin/GR18/minting_urls.py
Due: none

v0.7.0
  contracts/package.json
Due: prettier --write

v0.7.0
  sdk/package.json
Due: prettier --write

fix(fe): sdk imports and skip 0 mint
  frontend/hooks/mintClaimAllowlist.ts
  frontend/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Fix/skip_zero_percent_allowlist_creator (#1117)
  contracts/package.json
  frontend/hooks/mintClaimAllowlist.ts
  frontend/package.json
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.8.0
  sdk/package.json
Due: prettier --write

v0.8.1
  sdk/package.json
Due: prettier --write

feat(graph): release sepolia subgraph
  graph/package.json
  sdk/src/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

update defender scripts to use chain id table
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/networks.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(wallet): display networks
  frontend/components/connect-wallet.tsx
  frontend/components/dapp-context.tsx
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(chains): split test and prod chains
  frontend/components/dapp-context.tsx
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.8.2
  sdk/package.json
Due: prettier --write

feat(graph): .org sepolia deployment
  graph/package.json
  graph/subgraph.yaml
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/src/constants.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.7.1
  contracts/package.json
Due: prettier --write

v0.8.3
  sdk/package.json
Due: prettier --write

feat(mint): wrapup to mint on sepolia
  .eslintignore
  contracts/.eslintrc.yml
  contracts/tsconfig.json
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/networks.ts
  frontend/components/client-grid.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
  frontend/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Updated hyperboards contract and fixed testcases
  contracts/foundry.toml
  contracts/logs.txt
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/libs/Errors.sol
  contracts/test/foundry/HyperboardNFT.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Added deploy scripts and code cleanup
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/interfaces/IERC6551Registry.sol
  contracts/tasks/deploy.ts
  contracts/test/foundry/HyperboardNFT.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

removed unused safe contracts
  .gitmodules
Due: none

removed test logs
  contracts/logs.txt
Due: none

expose graph url config from hypercert client and inject into dapp config
  frontend/components/config.tsx
  frontend/components/dapp-state.tsx
  package.json
  sdk/.graphclient/index.ts
  sdk/src/client.ts
  sdk/yarn.lock
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

change check for valid provider to be compatible with non-hoisted packages
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

remove unused env var
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix readonly conditional to use isProvider and isSigner methods
  sdk/src/client.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write
