Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

feat(sdk): allowlist minting happy-unhappy
  sdk/src/client.ts
  sdk/src/validator/index.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(test): test batch claim allowlist
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(docs): updated docs
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/classes/internal.default-1.md
  docs/docs/developer/api/sdk/classes/internal.default-2.md
  docs/docs/developer/api/sdk/classes/internal.default-3.md
  docs/docs/developer/api/sdk/classes/internal.default.md
  docs/docs/developer/api/sdk/enums/internal.ErrorType.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/interfaces/TypedError.md
  docs/docs/developer/api/sdk/interfaces/internal.EvaluatorInterface.md
  docs/docs/developer/api/sdk/interfaces/internal.HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/internal.HypercertMinter.md
  docs/docs/developer/api/sdk/modules.md
  docs/docs/developer/api/sdk/modules/internal.md
Due: prettier --write

fix(fe): batch minting in frontend
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(batch_burn): add batch burn function
  contracts/src/HypercertMinter.sol
  contracts/src/SemiFungible1155.sol
  contracts/src/interfaces/IHypercertToken.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(caching): await tx confirm 5 blocks for delete
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(cache): await and annotate
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(cache): removed log
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(cache): check tx success
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fixes formatting issues
  frontend/components/zuzalu-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fixes formatting issues (#816)
  frontend/components/zuzalu-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Create different interface to Hypercert numeric values (#783)
  frontend/components/hypercert-fetcher.tsx
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/lib/test-utils.ts
  frontend/package.json
  sdk/src/types/global.d.ts
  sdk/src/types/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(id): fix claimID parsing
  frontend/hooks/mintFractionAllowlistBatch.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(build): lint and test timeout
  frontend/hooks/mintFractionAllowlistBatch.ts
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(timeout): timeout test for cicd
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(docs): update SemiFungible1155 docs
  contracts/src/HypercertMinter.sol
  contracts/src/SemiFungible1155.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(docs): updated SDK docs
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/classes/internal.default-1.md
  docs/docs/developer/api/sdk/classes/internal.default-2.md
  docs/docs/developer/api/sdk/classes/internal.default-3.md
  docs/docs/developer/api/sdk/classes/internal.default.md
  docs/docs/developer/api/sdk/enums/internal.ErrorType.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/interfaces/TypedError.md
  docs/docs/developer/api/sdk/interfaces/internal.EvaluatorInterface.md
  docs/docs/developer/api/sdk/interfaces/internal.HypercertClaimdata.md
  docs/docs/developer/api/sdk/modules.md
  docs/docs/developer/api/sdk/modules/internal.md
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write

feat(docs): updated SDK docs (#818)
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/classes/internal.default-1.md
  docs/docs/developer/api/sdk/classes/internal.default-2.md
  docs/docs/developer/api/sdk/classes/internal.default-3.md
  docs/docs/developer/api/sdk/classes/internal.default.md
  docs/docs/developer/api/sdk/enums/internal.ErrorType.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/interfaces/TypedError.md
  docs/docs/developer/api/sdk/interfaces/internal.EvaluatorInterface.md
  docs/docs/developer/api/sdk/interfaces/internal.HypercertClaimdata.md
  docs/docs/developer/api/sdk/modules.md
  docs/docs/developer/api/sdk/modules/internal.md
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write

feat: scan for op contracts
  os-observer/src/validate_eth_address.py
Due: none

feat: scan for op contracts (#832)
  os-observer/src/validate_eth_address.py
Due: none

feat: github user stats query
  os-observer/src/events/github_user.py
Due: none

Fix the build
  yarn.lock
Due: none

Fix the fleek build (#835)
  yarn.lock
Due: none

Use immutable observablehq package
  frontend/package.json
  yarn.lock
Due: prettier --write

Use immutable observablehq package (#838)
  frontend/package.json
  yarn.lock
Due: prettier --write

chore(build): fresh build
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fetching working for github issues filed
  os-observer/src/actions/github/fetch/issueClosed.ts
  os-observer/src/actions/github/fetch/issueFiled.ts
  os-observer/src/actions/github/fetchGithubIssues/index.ts
  os-observer/src/actions/github/fetchIssues/index.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForOrg.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  os-observer/src/actions/github/upsertOrg/index.ts
  os-observer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
  os-observer/src/actions/upsertGithubOrg/index.ts
  os-observer/src/cli.ts
  os-observer/src/events/github.ts
  os-observer/src/fetchEvents.ts
  os-observer/src/index.ts
  os-observer/src/utils/github/getGithubPointer.ts
  os-observer/src/utils/github/getOrgRepos.ts
  os-observer/src/utils/github/getRepoIusses.ts
  os-observer/src/utils/github/getRepositoryCreatedAt.ts
  os-observer/src/utils/github/graphQLClient.ts
  os-observer/src/utils/github/unpaginate.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Improve how github event source pointers are created
  os-observer/src/actions/github/fetch/issueFiled.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Add IUSSUE_CLOSED event for github
  os-observer/src/actions/github/fetch/issueClosed.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  os-observer/src/cli.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Remove debug
  os-observer/src/utils/github/unpaginate.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Improve interface for upsertGithubOrg
  os-observer/src/actions/github/upsertOrg/index.ts
  os-observer/src/cli.ts
  os-observer/src/utils/github/getRepoIusses.ts
  os-observer/src/utils/github/unpaginate.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Appease the linter
  os-observer/src/actions/github/fetch/issueClosed.ts
  os-observer/src/actions/github/fetch/issueFiled.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  os-observer/src/events/github.ts
  os-observer/src/utils/github/getGithubPointer.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(switch): network switching on FE and SDK
  frontend/hooks/hypercerts-client.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(window): check on window before refresh
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(ui): spinner when pending tx
  frontend/components/claim-all-fractions-button.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(wait): add wait 5 to all txs
  frontend/hooks/burnFraction.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/splitClaimUnits.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(cors): 400 res on missing url
  cors-proxy/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write
