Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

Burn a hypercert (#658)
  frontend/hooks/burnFraction.ts
  sdk/test/client/burn.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(poc): schemas, types, client, setup
  sdk/src/client.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/resources/schema/evaluation.json
  sdk/src/types/client.ts
  sdk/src/types/evaluation.d.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(poc): improve data upload handling
  sdk/src/evaluations/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: handling invalid wallet addresses
  utils/os-observer/src/database.py
Due: none

feat(query): add graph query params
  sdk/src/queries/claims.graphql
  sdk/src/queries/claims.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: handling for additional OP wallet addresses (#671)
  utils/os-observer/.gitignore
  utils/os-observer/data/projects.json
  utils/os-observer/src/database.py
  utils/os-observer/src/schema.sql
Due: prettier --write

feat(graph): params for most queries
  frontend/hooks/claims.ts
  sdk/.graphclient/index.ts
  sdk/.graphclientrc.yml
  sdk/src/index.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.graphql
  sdk/src/queries/fractions.ts
  sdk/src/queries/utils.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(balance): reject tx on no balance
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

548 sdk open up graph queries (#672)
  frontend/hooks/claims.ts
  sdk/.graphclient/index.ts
  sdk/.graphclientrc.yml
  sdk/src/index.ts
  sdk/src/queries/claims.graphql
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.graphql
  sdk/src/queries/fractions.ts
  sdk/src/queries/utils.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(balance): reject tx on no balance (#673)
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(balance): add to claim all button
  frontend/components/claim-all-fractions-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

docs: adding CONTRIBUTING.md
  CONTRIBUTING.md
  frontend/_redirects
  package.json
Due: prettier --write

docs: adding CONTRIBUTING.md (#678)
  CONTRIBUTING.md
  frontend/_redirects
  package.json
Due: prettier --write

added: configs for funding rounds
  utils/gitcoin/gitcoin-beta/.gitignore
  utils/gitcoin/gitcoin-beta/config.json
  utils/gitcoin/gitcoin-beta/get_grants_data.py
Due: prettier --write

added: indexing of all projects across all rounds
  utils/gitcoin/gitcoin-beta/config.json
  utils/gitcoin/gitcoin-beta/get_grants_data.py
Due: prettier --write

added: allowlist generation
  utils/gitcoin/gitcoin-beta/get_grants_data.py
  utils/gitcoin/gitcoin-beta/requirements.txt
Due: none

feat: simplify descriptions with gpt
  utils/gitcoin/gitcoin-beta/ai_description.py
  utils/gitcoin/gitcoin-beta/get_grants_data.py
Due: none

feat(build): removing rollup from contracts build
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

460 error message when minter or claimer has no eth (#675)
  frontend/components/claim-all-fractions-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(build): build esm package with import assert
  contracts/.prettierrc.yml
  contracts/package.json
  contracts/src/index.ts
  contracts/tsconfig.build.json
  sdk/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(lint): fix contract lint
  contracts/package.json
  yarn.lock
Due: prettier --write

added: image resizer
  utils/gitcoin/gitcoin-beta/process_images.py
Due: none

fix(lint): lint from root dir
  contracts/package.json
  sdk/package.json
Due: prettier --write

fix(lint): nohoist solhint linting
  contracts/package.json
  yarn.lock
Due: prettier --write

fix(solhint): removed prettier plugin
  contracts/.solhint.json
  contracts/package.json
  yarn.lock
Due: prettier --write

597 fixup contracts directory build (#680)
  contracts/.prettierrc.yml
  contracts/.solhint.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: recursive handling for cases that exceed gpt token limits
  utils/gitcoin/gitcoin-beta/ai_description.py
Due: none

fix(ci): disable caching for only for frontend builds
  docs/package.json
  frontend/package.json
  graph/package.json
  package.json
  turbo.json
Due: prettier --write

fix(ci): disable caching for only for frontend builds (#677)
  docs/package.json
  frontend/package.json
  graph/package.json
  package.json
  turbo.json
Due: prettier --write

added: web3 storage for images and allowlists
  utils/gitcoin/gitcoin-beta/.env.example
  utils/gitcoin/gitcoin-beta/workflow.sh
Due: none

feat: propose work scope from title and description
  utils/gitcoin/gitcoin-beta/ai_description.py
  utils/gitcoin/gitcoin-beta/ai_helper.py
Due: none

fix: use w3link for retrieving from web3.storage
  sdk/src/operator/hypercerts-storage.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: use w3link for retrieving from web3.storage (#685)
  sdk/src/operator/hypercerts-storage.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: chars being removed from cids
  utils/gitcoin/gitcoin-beta/workflow.sh
Due: none

refactor: remove unused filename variable
  utils/gitcoin/gitcoin-beta/get_grants_data.py
Due: none

refactor: store round data in separate json
  utils/gitcoin/gitcoin-beta/config.json
Due: prettier --write

fix: switch to optimism url
  utils/gitcoin/gitcoin-beta/config.json
Due: prettier --write

refactor: env variables
  utils/gitcoin/gitcoin-beta/.env.example
Due: none

fix: requirements.txt
  utils/gitcoin/gitcoin-beta/requirements.txt
Due: none
