Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(p.json): updated package-lock
  pnpm-lock.yaml
Due: none

fix(build): remove contract docs build from docs
  contracts/hardhat.config.ts
  docs/package.json
  sdk/src/indexer/gql/graphql.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): released contracts 1.0.0
  contracts/package.json
Due: prettier --write

chore(bump): update graph testnet deploy
  graph/subgraph.yaml
Due: none

chore(bump): sdk version 1.0.0
  sdk/package.json
Due: prettier --write

chore(bump): update deps in fe
  frontend/hooks/hypercerts-client.ts
  frontend/package.json
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): sdk 1.0.3 in fe
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/modules.md
  frontend/components/merge-all-claim-fractions-button.tsx
  frontend/hooks/burnFraction.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
  frontend/lib/hypercert.ts
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(lint): test type lint
  frontend/lib/hypercert.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

Feat/sdk npm docs release 1 (#1228)
  contracts/package.json
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/modules.md
  frontend/components/merge-all-claim-fractions-button.tsx
  frontend/hooks/burnFraction.ts
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/package.json
  graph/subgraph.yaml
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(docsearch): add config
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/ConfigurationError.md
  docs/docs/developer/api/sdk/classes/ContractError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/interfaces/CustomError.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/modules.md
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): add initial version of delete on order fulfilled script
  defender/src/auto-tasks/delete-order-on-order-fulfilled.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: none

Bugfix/allowlist cleanup script (#1184)
  defender/package.json
  defender/src/scripts/fix-allowlist-duplicates.ts
  pnpm-lock.yaml
  scripts/cleanup-allowlist.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

Update README.md: fixed errors (#1046)
  README.md
Due: prettier --write

chore(bump): web3 connectors fe
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(report): add report and create checklist
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/audits/marketplace/Hypercerts_v01-1.pdf
  contracts/audits/protocol/20230201-7naly3er.md
  contracts/audits/protocol/20230201-slither.md
  contracts/audits/protocol/20230208-security-review.md
  contracts/audits/protocol/Hypercerts-security-review.md
Due: prettier --write

fix(TRST-H-1): a buyer can purchase more token units than the seller
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(TRST-H-2): fraction offer invalidation
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/constants/ValidationCodeConstants.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/src/marketplace/helpers/OrderValidatorV2A.sol
  contracts/test/foundry/marketplace/OrderValidatorV2A.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
  contracts/test/mock/MockHypercertMinterWithoutAnyOwnerOf.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(TRST-H-3): fork strategies to check on hc units during trade
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/TransferManager.sol
  contracts/src/marketplace/TransferSelectorNFT.sol
  contracts/src/marketplace/errors/SharedErrors.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertDutchAuction.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/src/marketplace/helpers/OrderValidatorV2A.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertCollectionOffers.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertDutchAuctionOrders.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(TRST-M-1): signed taker bid messages
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/executionStrategies/StrategyHypercertCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertCollectionOffers.t.sol
  contracts/test/foundry/marketplace/utils/ProtocolHelpers.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(l/m/sr): fixing last findings
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/executionStrategies/BaseStrategy.sol
  contracts/src/marketplace/executionStrategies/StrategyCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertDutchAuction.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/src/protocol/AllowlistMinter.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertCollectionOffers.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertDutchAuctionOrders.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
  contracts/test/foundry/protocol/AllowlistMinter.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feature): Delete order on execute taker bid autotask
  defender/src/auto-tasks/delete-order-on-order-fulfilled.ts
  defender/src/auto-tasks/execute-taker-bid.ts
  defender/webpack.config.cjs
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): fix setup and rollouts, update scripts
  defender/package.json
  defender/src/create-sentinel.ts
  defender/src/networks.ts
  defender/src/rollout.ts
  defender/src/update.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): remove redundancy from create-sentinel.ts config
  defender/src/create-sentinel.ts
  defender/src/rollout.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(TRST-M-2): add sellLeftover boolean to hypercert fraction strategy
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/src/marketplace/executionStrategies/StrategyHypercertCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertDutchAuction.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(test): fix failing test dutch auction
  contracts/src/marketplace/executionStrategies/StrategyHypercertDutchAuction.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(deploy): fresh sepolia deploy
  contracts/.openzeppelin/sepolia.json
  contracts/package.json
  contracts/src/deployments/deployment-marketplace-hardhat.json
  contracts/src/deployments/deployment-marketplace-sepolia.json
  contracts/src/marketplace/executionStrategies/BaseStrategy.sol
  contracts/tasks/deploy-marketplace.ts
  contracts/tasks/force-import.ts
  docs/docs/developer/api/contracts/marketplace/LooksRareProtocol.md
  docs/docs/developer/api/contracts/marketplace/TransferManager.md
  docs/docs/developer/api/contracts/marketplace/TransferSelectorNFT.md
  docs/docs/developer/api/contracts/marketplace/executionStrategies/BaseStrategy.md
  docs/docs/developer/api/contracts/marketplace/executionStrategies/StrategyHypercertCollectionOffer.md
  docs/docs/developer/api/contracts/marketplace/executionStrategies/StrategyHypercertDutchAuction.md
  docs/docs/developer/api/contracts/marketplace/executionStrategies/StrategyHypercertFractionOffer.md
  docs/docs/developer/api/contracts/protocol/AllowlistMinter.md
  docs/docs/developer/api/contracts/protocol/HypercertMinter.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(report): update finding status
  contracts/audits/marketplace/Hypercerts_v01-1.md
Due: prettier --write

fix(allowlist): rollout celo and propose op
  contracts/.openzeppelin/celo.json
  contracts/.openzeppelin/optimism.json
  contracts/tasks/upgrade.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
