Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(build): resolve build issues
  contracts/package.json
  sdk/src/validator/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: Expose loading state to SupabaseQuery
  frontend/components/hypercert-fetcher.tsx
  frontend/components/supabase-query.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(rollup): missing dependency
  contracts/.eslintrc.yml
  contracts/package.json
  contracts/tsconfig.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat: Expose loading state to SupabaseQuery (#592)
  frontend/components/hypercert-fetcher.tsx
  frontend/components/supabase-query.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(contracts): remove from workspace
  contracts/rollup.config.mjs
  package.json
Due: prettier --write --ignore-path .gitignore

fix: Sentry sourcemaps
  frontend/next.config.js
  frontend/package.json
  package.json
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Sentry sourcemaps (#593)
  frontend/next.config.js
  frontend/package.json
  package.json
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: slider component for Plasmic
  frontend/components/forms.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: slider component for Plasmic (#594)
  frontend/components/forms.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: re-adding contracts/ back into the monorepo
  .github/workflows/ci-default.yml
  contracts/README.md
  contracts/package.json
  frontend/package.json
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: re-adding contracts/ back into the monorepo (#595)
  .github/workflows/ci-default.yml
  contracts/README.md
  contracts/package.json
  frontend/package.json
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat: let a user configure what fraction they keep from allowlist
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/hooks/mintClaimAllowlist.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: let a user configure what fraction they keep from allowlist (#598)
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/hooks/mintClaimAllowlist.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: using wrong selector for graph queries
  sdk/src/queries/fractions.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: using wrong selector for graph queries (#599)
  sdk/src/queries/fractions.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: fixing claim all fractions
  frontend/lib/verify-fraction-claim.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: fixing claim all fractions (#602)
  frontend/lib/verify-fraction-claim.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(foundry): lock foundry version
  .github/workflows/ci-default.yml
Due: none

fix: removing uses of logger
  sdk/src/config.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/utils/errors.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: removing uses of logger (#609)
  sdk/src/config.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/utils/errors.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(foundry): fix GH action foundry version
  .github/workflows/ci-default.yml
Due: none

feat(mintSDK): add mintClaimSDK hook
  frontend/components/hypercert-create.tsx
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mintClaimSDK.ts
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/test/operator/hypercerts-minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(steps): added minting steps
  frontend/hooks/mintClaimSDK.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(type): readonly
  frontend/hooks/mintClaimSDK.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(lint): fe lint error
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

303 sdk mint functions not exported (#610)
  frontend/components/hypercert-create.tsx
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mintClaimSDK.ts
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/test/operator/hypercerts-minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): createAllowlist using SDK
  frontend/components/hypercert-create.tsx
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintClaimAllowlistSDK.ts
  frontend/lib/parsing.ts
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(parse): throw on invalid CSV
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(validate): catch parse allowlist error
  frontend/hooks/mintClaimAllowlistSDK.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(validator): fix bug allowlist validator checks
  frontend/hooks/mintClaimAllowlistSDK.ts
  sdk/src/validator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): createAllowlist using SDK (#611)
  frontend/components/hypercert-create.tsx
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintClaimAllowlistSDK.ts
  frontend/lib/parsing.ts
  sdk/src/index.ts
  sdk/src/validator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(links): doc links
  docs/docs/developer/api/contracts/index.md
  docs/docs/developer/api/index.md
  docs/docs/developer/quickstart-javascript.md
Due: prettier --write --ignore-path .gitignore

fix(docs): fix docs build API specs
  contracts/hardhat.config.ts
  contracts/package.json
  docs/docs/developer/api/sdk/.nojekyll
  docs/docs/developer/api/sdk/README.md
  docs/docs/developer/api/sdk/index.md
  docs/docs/developer/index.md
  docs/docs/developer/quickstart-javascript.md
  sdk/typedoc.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(wagmi): update wagmi version
  frontend/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(wagmi): update wagmi version (#614)
  frontend/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(docs): add modules.md to build
  docs/docs/developer/api/sdk/modules.md
Due: prettier --write --ignore-path .gitignore

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write --ignore-path .gitignore: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
