Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

fix(pnpm): root dir ethers resolution
  graph/tests/.latest.json
  package.json
Due: prettier --write

chore(pnpm): updated lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(pnpm): overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(build): resolving build issues sdk
  package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/types/errors.test.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(refactor): dep resolution bug - del eth v5
  graph/tests/.latest.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/.graphclient/index.ts
  sdk/jest.config.ts
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/index.ts
  sdk/src/indexer.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/src/types/hypercerts.ts
  sdk/src/utils/adapters.ts
  sdk/src/utils/config.ts
  sdk/src/validator/index.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/helpers.ts
  sdk/test/indexer.test.ts
  sdk/test/resources/HypercertMinter.json
  sdk/test/setup-env.ts
  sdk/test/storage.test.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/utils/config.test.ts
  sdk/test/validator.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(test): mock ipfs in minting, remove timeout
  sdk/test/client/minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(build): fresh build
  graph/tests/.latest.json
Due: prettier --write

chore(clean): remove contracts/contracts dir
  contracts/contracts/AllowlistMinter.sol
  contracts/contracts/HypercertMinter.sol
  contracts/contracts/SemiFungible1155.sol
  contracts/contracts/interfaces/IAllowlist.sol
  contracts/contracts/interfaces/IHypercertToken.sol
  contracts/contracts/libs/Errors.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(gha): non-next env var in gha for sdk
  .github/workflows/ci-default.yml
Due: none

Fix/handle batch transfers graph (#1149)
  .lintstagedrc
  graph/src/hypercert-minter.ts
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(jest): forceExit hanging async call
  sdk/package.json
Due: prettier --write

Direct Hypercert fraction sale (#1142)
  .github/workflows/ci-default.yml
  contracts/.solhint.json
  contracts/remappings.txt
  contracts/src/marketplace/LooksRareProtocol.sol
  contracts/src/marketplace/TransferManager.sol
  contracts/src/marketplace/TransferSelectorNFT.sol
  contracts/src/marketplace/interfaces/ITransferManager.sol
  contracts/test/foundry/marketplace/ProtocolBase.t.sol
  contracts/test/foundry/marketplace/SignaturesERC1271WalletForHypercert.t.sol
  contracts/test/foundry/marketplace/StandardTransactionsHypercerts.t.sol
  contracts/test/foundry/marketplace/StrategyManager.t.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
  contracts/test/foundry/marketplace/utils/MockOrderGenerator.sol
  contracts/test/mock/MockHypercertMinterUUPS.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(build): fresh run for sanity
  .lintstagedrc
Due: none

fix(lint): ignore **/abi instead of **/src/abi
  contracts/.prettierignore
Due: none

feat(fe): integrate in FE and SDK 0.9.1
  frontend/hooks/burnFraction.ts
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/helpers.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(bump): sdk 0.9.1-viem
  sdk/package.json
Due: prettier --write

feat(fe): update FE to use SDK 0.9.1
  frontend/components/blueprint-create.tsx
  frontend/components/config.tsx
  frontend/components/contribution-blueprint-create.tsx
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
  frontend/lib/parsing.ts
  frontend/next.config.mjs
  frontend/package.json
  frontend/plasmic-init.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(cleanup): code cleanup SDK
  sdk/src/client.ts
  sdk/src/evaluations/index.ts
  sdk/src/indexer/utils.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/src/utils/adapters.ts
  sdk/src/utils/config.ts
  sdk/src/utils/resolvers.ts
  sdk/src/validator/index.ts
  sdk/test/client.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(bump): sdk version bump
  sdk/package.json
Due: prettier --write

chore(fe): update SDK dep version
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(sdk): chainId config
  frontend/lib/parsing.test.ts
  frontend/lib/parsing.ts
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclientrc.yml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/indexer.ts
  sdk/src/indexer/queries/claims.graphql
  sdk/src/indexer/queries/fractions.graphql
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/src/utils/resolvers.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/storage.test.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(parse): fix parse calc
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix parse allowlist csv tests
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix injected chain id in config
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

update component config.tsx
  frontend/components/config.tsx
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(run): sanity check passed
  graph/tests/.latest.json
Due: prettier --write

chore(bump): updated sdk alpha
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(build): graphSDK
  frontend/components/config.tsx
  frontend/components/dapp-state.tsx
  frontend/components/hypercert-fetcher.tsx
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
  frontend/package.json
  pnpm-lock.yaml
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(fe): plasmic rendering issues.
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/storage.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(sdk): web3 token
  frontend/hooks/hypercerts-client.ts
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/storage.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(defender): removed api_key sep network conf
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/networks.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(defender): remove verbose log batch action
  frontend/hooks/hypercerts-client.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): deduplicate runs - now on all push
  .github/workflows/ci-default.yml
Due: none

chore(lint): lint fe lib
  frontend/lib/hypercert.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): cleaned up env vars
  .github/workflows/ci-default.yml
  sdk/test/storage/web3.storage.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): fix Graph gha
  package.json
Due: prettier --write

Fix/gha graph (#1165)
  package.json
Due: prettier --write
