Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.json": [
    "prettier --write --ignore-path .gitignore"
  ]
}

feat(gap): added storage gap AllowlistMinter
  contracts/src/AllowlistMinter.sol
Due: none

fix: defender scripts weren't compiling
  README.md
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: defender scripts weren't compiling (#361)
  README.md
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(gap): added storage gap AllowlistMinter (#360)
  contracts/src/AllowlistMinter.sol
Due: none

docs: deployed on optimism
  README.md
  contracts/.env.example
  contracts/.openzeppelin/goerli.json
  contracts/README.md
  contracts/hardhat.config.ts
  docs/docs/devops/deploy-proxy.md
  graph/networks.json
  graph/package.json
  graph/subgraph.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: deployed on optimism (#364)
  README.md
  contracts/.env.example
  contracts/.openzeppelin/goerli.json
  contracts/README.md
  contracts/hardhat.config.ts
  docs/docs/devops/deploy-proxy.md
  graph/networks.json
  graph/package.json
  graph/subgraph.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix/sdk: support optimism in SDK
  sdk/.graphclientrc.yml
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/claims.ts
  sdk/src/fractions.ts
  sdk/src/minting.ts
  sdk/src/queries/claims.graphql
  sdk/src/queries/fractions.graphql
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: change GitHub action environment to `deploy`
  .github/workflows/deploy-cors-proxy.yml
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
  defender/.env.example
Due: none

fix: Add a NEXT_PUBLIC_GRAPH_URL environment variable
  .github/workflows/ci-default.yml
  docs/docs/devops/deploy-proxy.md
  frontend/.env.local.example
  frontend/components/dapp-context.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: change GitHub action environment to `deploy` (#367)
  .github/workflows/deploy-cors-proxy.yml
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
  defender/.env.example
Due: none

fix: Add a NEXT_PUBLIC_GRAPH_URL environment variable (#368)
  .github/workflows/ci-default.yml
  docs/docs/devops/deploy-proxy.md
  frontend/.env.local.example
  frontend/components/dapp-context.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: use HypercertsStorage in frontend
  docs/docs/devops/plasmic.md
  frontend/components/hypercert-fetcher.tsx
  frontend/lib/verify-fraction-claim.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: use HypercertsStorage in frontend (#370)
  docs/docs/devops/plasmic.md
  frontend/components/hypercert-fetcher.tsx
  frontend/lib/verify-fraction-claim.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: markdown table header issues
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

bug: matching pool property in ERC1155 data
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

utils/fixes to ERC-1155 props in URL and markdown summary (#372)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: update defender scripts to support multiple networks
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/config.ts
  defender/src/create-autotask.ts
  defender/src/create-sentinel.ts
  defender/src/errors.ts
  defender/src/networks.ts
  defender/src/reset.ts
  defender/src/setup.ts
  defender/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: update defender scripts to support multiple networks (#373)
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/config.ts
  defender/src/create-autotask.ts
  defender/src/create-sentinel.ts
  defender/src/errors.ts
  defender/src/networks.ts
  defender/src/reset.ts
  defender/src/setup.ts
  defender/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(docs): added typedoc
  sdk/RELEASE.md
  sdk/docs/.nojekyll
  sdk/docs/API.md
  sdk/docs/README.md
  sdk/docs/classes/HypercertsStorage.md
  sdk/docs/interfaces/HypercertClaimdata.md
  sdk/docs/interfaces/HypercertMetadata.md
  sdk/docs/modules.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/.graphclient/sources/hypercerts-dev/introspectionSchema.ts
  sdk/src/.graphclient/sources/hypercerts-dev/types.ts
  sdk/src/formatter.ts
  sdk/typedoc.json
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Defender scripts
  defender/package.json
  defender/src/HypercertMinterABI.ts
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
  defender/src/errors.ts
  defender/src/networks.ts
  defender/src/setup.ts
  docs/docs/devops/deploy-proxy.md
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(rollup): initial rollup setup
  sdk/.gitignore
  sdk/package.json
  sdk/rollup.config.js
  sdk/src/.graphclient/index.ts
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(json): json types dist render
  sdk/package.json
  sdk/yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: Defender scripts (#376)
  defender/package.json
  defender/src/HypercertMinterABI.ts
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
  defender/src/errors.ts
  defender/src/networks.ts
  defender/src/setup.ts
  docs/docs/devops/deploy-proxy.md
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore(doc): updated release doc
  sdk/RELEASE.md
Due: none

chore(yarn): fresh yarn lock
  sdk/yarn.lock
Due: none

fix(sdk): getData in SDK should NOT wrapDirectory
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/operator/index.ts
  sdk/test/operator.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(sdk): getData in SDK should NOT wrapDirectory (#377)
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/operator/index.ts
  sdk/test/operator.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: prefix CIDs with ipfs:// for URIs
  defender/src/auto-tasks/on-allowlist-created.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/lib/formatting.ts
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: prefix CIDs with ipfs:// for URIs (#378)
  defender/src/auto-tasks/on-allowlist-created.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/lib/formatting.ts
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: upgrade plasmic dependency
  frontend/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(frontend): Pass the SUPABASE_TABLE into DappContext
  .github/workflows/ci-default.yml
  .lintstagedrc
  frontend/.env.local.example
  frontend/README.md
  frontend/components/dapp-context.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: upgrade plasmic dependency (#381)
  frontend/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(frontend): Pass the SUPABASE_TABLE into DappContext (#380)
  .github/workflows/ci-default.yml
  .lintstagedrc
  frontend/.env.local.example
  frontend/README.md
  frontend/components/dapp-context.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: shorten description to 500 chars
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: formatting dates in the SDK
  frontend/components/hypercert-create.tsx
  frontend/package.json
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/formatter.ts
  sdk/src/minting.ts
  sdk/src/resources/schema/claimdata.json
  sdk/test/formatter.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: formatting dates in the SDK (#383)
  frontend/components/hypercert-create.tsx
  frontend/package.json
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/formatter.ts
  sdk/src/minting.ts
  sdk/src/resources/schema/claimdata.json
  sdk/test/formatter.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: add config component to Plasmic
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/config.tsx
  frontend/components/dapp-context.tsx
  frontend/lib/verify-fraction-claim.ts
  frontend/plasmic-init.ts
  sdk/src/operator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: add config component to Plasmic (#385)
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/config.tsx
  frontend/components/dapp-context.tsx
  frontend/lib/verify-fraction-claim.ts
  frontend/plasmic-init.ts
  sdk/src/operator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore: rerun urls
  utils/gitcoin/data/project_urls.md
Due: none

fix: uri broken in contract
  contracts/.openzeppelin/goerli.json
  contracts/src/SemiFungible1155.sol
Due: prettier --write --ignore-path .gitignore
