Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

Fix/package_build (#1123)
  .npmrc
  contracts/.prettierrc.yml
  contracts/.solhint.json
  contracts/package.json
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/Bitshifting.t.sol
  contracts/test/foundry/HypercertMinter.batchminting.t.sol
  contracts/test/foundry/HypercertMinter.pausable.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/PerformanceTesting.t.sol
  contracts/test/foundry/SemiFungible1155.allowances.t.sol
  contracts/test/foundry/SemiFungible1155.burning.t.sol
  contracts/test/foundry/SemiFungible1155.minting.t.sol
  contracts/test/foundry/SemiFungible1155.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.units.sol
  docs/docs/developer/supported-networks.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(build): remove type module from package.json
  sdk/package.json
  sdk/rollup.config.mjs
Due: prettier --write

chore(contracts): package sol files
  contracts/package.json
  contracts/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(pack): add sol files to contracts package
  contracts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(bump): contract 0.8.9
  contracts/package.json
Due: prettier --write

chore(pack): exports setup
  contracts/package.json
Due: prettier --write

chore(pack): contracts dir in package
  contracts/.gitignore
  contracts/package.json
Due: prettier --write

chore(pack): cleanup build scripts
  contracts/package.json
Due: prettier --write

chore(bump): contracts 0.8.10
  contracts/package.json
Due: prettier --write

chore(pack): add all contracts for inheritence
  contracts/package.json
Due: prettier --write

chore(bump): contracts 0.8.11
  contracts/package.json
Due: prettier --write

chore(bump): sdk 0.8.10 with updated contracts package
  pnpm-lock.yaml
  sdk/package.json
Due: prettier --write

chore(bump): updated packages in frontend
  frontend/next.config.mjs
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(gha): run action on pr and push to develop
  .github/workflows/ci-default.yml
Due: none

Fix/package build (#1124)
  .github/workflows/ci-default.yml
  contracts/.gitignore
  contracts/package.json
  contracts/src/index.ts
  frontend/next.config.mjs
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/rollup.config.mjs
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(defender): use hc packages in oz defender
  defender/package.json
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/config.ts
  defender/src/create-autotask.ts
  defender/src/create-sentinel.ts
  defender/src/reset.ts
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
  defender/tsconfig.json
  defender/webpack.config.cjs
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/index.ts
  sdk/src/indexer.ts
  sdk/src/storage.ts
  sdk/src/types/global.d.ts
  sdk/src/types/indexer.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Add HC contracts to OpenZeppelin Defender (#1134)
  .github/workflows/ci-default.yml
  contracts/.gitignore
  contracts/package.json
  contracts/src/index.ts
  defender/package.json
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/config.ts
  defender/src/create-autotask.ts
  defender/src/create-sentinel.ts
  defender/src/reset.ts
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
  defender/tsconfig.json
  defender/webpack.config.cjs
  frontend/next.config.mjs
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/rollup.config.mjs
  sdk/src/index.ts
  sdk/src/indexer.ts
  sdk/src/storage.ts
  sdk/src/types/global.d.ts
  sdk/src/types/indexer.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(celo): graph deploy, sdk and defender config
  README.md
  contracts/.env.example
  contracts/.openzeppelin/celo.json
  contracts/contracts/AllowlistMinter.sol
  contracts/contracts/HypercertMinter.sol
  contracts/contracts/SemiFungible1155.sol
  contracts/contracts/interfaces/IAllowlist.sol
  contracts/contracts/interfaces/IHypercertToken.sol
  contracts/contracts/libs/Errors.sol
  contracts/hardhat.config.ts
  contracts/tasks/deploy.ts
  defender/src/networks.ts
  graph/networks.json
  graph/package.json
  graph/subgraph.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/src/constants.ts
  sdk/src/types/client.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(bump): SDK 0.8.14 Celo deployment
  sdk/package.json
Due: prettier --write

feat(celo): add celo support to frontend
  defender/package.json
  frontend/components/dapp-context.tsx
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(graph): fix turbo test flow
  graph/package.json
  graph/tests/.latest.json
  pnpm-lock.yaml
Due: prettier --write

chore(graph): add comment to p.json
  graph/package.json
Due: prettier --write

fix(gha): use pnpm cache in graph gha
  .github/workflows/deploy-graph.yml
Due: none

fix(gha): use pnpm cache in graph gha (#1138)
  .github/workflows/deploy-graph.yml
Due: none

[Prod]:Deployed to Celo, updated Defender, version bumps for everyone (#1137)
  .github/workflows/deploy-graph.yml
  README.md
  contracts/.env.example
  contracts/.openzeppelin/celo.json
  contracts/contracts/AllowlistMinter.sol
  contracts/contracts/HypercertMinter.sol
  contracts/contracts/SemiFungible1155.sol
  contracts/contracts/interfaces/IAllowlist.sol
  contracts/contracts/interfaces/IHypercertToken.sol
  contracts/contracts/libs/Errors.sol
  contracts/hardhat.config.ts
  contracts/tasks/deploy.ts
  defender/package.json
  defender/src/networks.ts
  frontend/components/dapp-context.tsx
  frontend/package.json
  graph/networks.json
  graph/package.json
  graph/subgraph.yaml
  graph/tests/.latest.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(prep): protocol contracts to protocol dir
  contracts/contracts/HypercertMinter.sol
  contracts/contracts/SemiFungible1155.sol
  contracts/contracts/interfaces/IHypercertToken.sol
  contracts/remappings.txt
  contracts/src/AllowlistMinter.sol
  contracts/src/interfaces/IAllowlist.sol
  contracts/src/libs/Errors.sol
  contracts/src/protocol/AllowlistMinter.sol
  contracts/src/protocol/HypercertMinter.sol
  contracts/src/protocol/HypercertTrader.sol
  contracts/src/protocol/SemiFungible1155.sol
  contracts/src/protocol/interfaces/IAllowlist.sol
  contracts/src/protocol/interfaces/IHypercertToken.sol
  contracts/src/protocol/interfaces/IHypercertTrader.sol
  contracts/src/protocol/libs/Errors.sol
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/HypercertMinter.batchminting.t.sol
  contracts/test/foundry/HypercertMinter.pausable.t.sol
  contracts/test/foundry/HypercertMinter.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/HypercertTrader.admin.t.sol
  contracts/test/foundry/HypercertTrader.offers.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  contracts/test/foundry/PerformanceTesting.t.sol
  contracts/test/foundry/SemiFungibleHelper.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(prep): tests to protocol dir and remappings
  contracts/remappings.txt
  contracts/test/foundry/protocol/AllowlistMinter.t.sol
  contracts/test/foundry/protocol/Bitshifting.t.sol
  contracts/test/foundry/protocol/HypercertMinter.batchminting.t.sol
  contracts/test/foundry/protocol/HypercertMinter.pausable.t.sol
  contracts/test/foundry/protocol/HypercertMinter.t.sol
  contracts/test/foundry/protocol/HypercertMinter.transfers.t.sol
  contracts/test/foundry/protocol/HypercertTrader.admin.t.sol
  contracts/test/foundry/protocol/HypercertTrader.offers.t.sol
  contracts/test/foundry/protocol/HypercertTrader.sales.t.sol
  contracts/test/foundry/protocol/PerformanceTesting.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.allowances.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.burning.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.minting.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.transfers.t.sol
  contracts/test/foundry/protocol/SemiFungible1155.units.sol
  contracts/test/foundry/protocol/SemiFungibleHelper.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(license): MIT license
  contracts/LICENSE.md
Due: prettier --write

chore(gha): run gha on push and develop-branches
  .github/workflows/ci-default.yml
Due: none

fix(build): build and lint errors
  contracts/.solhint.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/marketplace/CreatorFeeManagerWithRoyalties.sol
  contracts/src/marketplace/interfaces/ILooksRareProtocol.sol
  contracts/test/foundry/marketplace/ProtocolFeeRecipient.t.sol
  contracts/test/foundry/marketplace/utils/MerkleWithPosition.sol
  contracts/test/foundry/protocol/HypercertMinter.t.sol
  graph/abis/HypercertTrader.json
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/networks.json
  graph/src/hypercert-trader.ts
  graph/src/utils.ts
  graph/subgraph.yaml
  graph/tests/hypercert-trader-utils.ts
  graph/tests/hypercert-trader.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(pnpm): refresh lock file
  pnpm-lock.yaml
Due: none

chore(build): reduce turbo concurrency
  package.json
Due: prettier --write

fix(build): whac a mole
  defender/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(build): restore prettier in solhint
  contracts/.solhint.json
Due: prettier --write

chore(build): env.template vars
  contracts/.env.example
Due: none
