Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads
  os-observer/package.json
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/migrations/20230601235142_add_query/migration.sql
  os-observer/prisma/migrations/20230602173842_auto_crawl_flag/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
  os-observer/src/utils/error.ts
  os-observer/test/client.test.ts
  os-observer/test/events/npm.test.ts
  os-observer/test/utils/parsing.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads (partial progress)
  os-observer/package.json
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/migrations/20230601235142_add_query/migration.sql
  os-observer/prisma/migrations/20230602173842_auto_crawl_flag/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
  os-observer/src/utils/error.ts
  os-observer/test/client.test.ts
  os-observer/test/events/npm.test.ts
  os-observer/test/utils/parsing.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads (#786)
  os-observer/package.json
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/migrations/20230601235142_add_query/migration.sql
  os-observer/prisma/migrations/20230602173842_auto_crawl_flag/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
  os-observer/src/utils/error.ts
  os-observer/test/client.test.ts
  os-observer/test/events/npm.test.ts
  os-observer/test/utils/parsing.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Use Event pointer to track scraped github issues
  os-observer/src/actions/fetchGithubIssues/getRepoIusses.ts
  os-observer/src/actions/fetchGithubIssues/index.ts
  os-observer/src/actions/fetchGithubIssues/unpaginate.ts
  os-observer/src/actions/upsertGithubOrg/createEventPointersForOrg.ts
  os-observer/src/actions/upsertGithubOrg/createEventPointersForRepo.ts
  os-observer/src/actions/upsertGithubOrg/getOrgRepos.ts
  os-observer/src/actions/upsertGithubOrg/getRepositoryCreatedAt.ts
  os-observer/src/actions/upsertGithubOrg/index.ts
  os-observer/src/actions/upsertGithubOrg/upsertGithubReposForOrg.ts
  os-observer/src/cli.ts
  os-observer/src/fetchEvents.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads v1
  os-observer/prisma/migrations/20230601011521_add_contributors/migration.sql
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/migrations/20230601235142_add_query/migration.sql
  os-observer/prisma/migrations/20230602173842_auto_crawl_flag/migration.sql
  os-observer/prisma/migrations/20230602204356_create_tables/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/cli.ts
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/api.ts
  os-observer/test/events/npm.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm downloads v1 (#790)
  os-observer/prisma/migrations/20230601011521_add_contributors/migration.sql
  os-observer/prisma/migrations/20230601015429_unique_artifacts/migration.sql
  os-observer/prisma/migrations/20230601015806_optional_org_in_artifact/migration.sql
  os-observer/prisma/migrations/20230601021308_remove_organization_from_events/migration.sql
  os-observer/prisma/migrations/20230601235142_add_query/migration.sql
  os-observer/prisma/migrations/20230602173842_auto_crawl_flag/migration.sql
  os-observer/prisma/migrations/20230602204356_create_tables/migration.sql
  os-observer/prisma/schema.prisma
  os-observer/src/cli.ts
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/api.ts
  os-observer/test/events/npm.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm pagination
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
  os-observer/src/utils/error.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: npm pagination (#791)
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
  os-observer/src/utils/error.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: enable scheduled autocrawl jobs
  .github/workflows/os-observer-autocrawl.yml
  .github/workflows/os-observer-manual.yml
  os-observer/src/actions/autocrawl.ts
  os-observer/src/cli.ts
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/github.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: enable scheduled autocrawl jobs (#794)
  .github/workflows/os-observer-autocrawl.yml
  .github/workflows/os-observer-manual.yml
  os-observer/src/actions/autocrawl.ts
  os-observer/src/cli.ts
  os-observer/src/db/prisma-client.ts
  os-observer/src/events/github.ts
  os-observer/src/events/npm.ts
  os-observer/src/utils/common.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: local supabase instance
  os-observer/README.md
  os-observer/package.json
  os-observer/supabase/.gitignore
  os-observer/supabase/config.toml
  os-observer/supabase/seed.sql
  yarn.lock
Due: prettier --write

feat: local supabase instance (#796)
  os-observer/README.md
  os-observer/package.json
  os-observer/supabase/.gitignore
  os-observer/supabase/config.toml
  os-observer/supabase/seed.sql
  yarn.lock
Due: prettier --write

feat: continuously deploy os-observer database migrations
  .github/workflows/deploy-os-observer.yml
  .github/workflows/os-observer-autocrawl.yml
  os-observer/package.json
  package.json
Due: prettier --write

feat: continuously deploy os-observer database migrations (#797)
  .github/workflows/deploy-os-observer.yml
  .github/workflows/os-observer-autocrawl.yml
  os-observer/package.json
  package.json
Due: prettier --write

fix: npm downloads seems to be fetching up to today
  os-observer/src/events/npm.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: npm downloads seems to be fetching up to today (#798)
  os-observer/src/events/npm.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: tableau component
  frontend/components/tableau-view.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: tableau component (#799)
  frontend/components/tableau-view.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: tableau
  frontend/components/tableau-view.tsx
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: tableau (#802)
  frontend/components/tableau-view.tsx
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

begin implementation
  frontend/components/hypercert-fetcher.tsx
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Clean up and tests
  frontend/components/hypercert-fetcher.tsx
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/lib/test-utils.ts
  sdk/src/types/global.d.ts
  sdk/src/types/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

more clean up
  frontend/lib/hypercert.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

organizational fix
  frontend/lib/hypercert.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

further reorganization
  frontend/components/hypercert-fetcher.tsx
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: better handling for address lookups
  os-observer/src/validate_eth_address.py
Due: none

Add treemap to components
  frontend/components/zuzalu-hypercert-treemap.compat.d.ts
  frontend/components/zuzalu-hypercert-treemap.tsx
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix handling of ref
  frontend/components/zuzalu-hypercert-treemap.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Add correct deps
  frontend/package.json
  yarn.lock
Due: prettier --write

Add treemap to components (#807)
  frontend/components/zuzalu-hypercert-treemap.compat.d.ts
  frontend/components/zuzalu-hypercert-treemap.tsx
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

added: script for fetching merkle tree and gathering claim stats
  utils/supabase/hypercert_accounting.py
Due: none

Register ZuzaluHypercertTreemap component
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Register ZuzaluHypercertTreemap component (#809)
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: create csv reconciliation
  utils/supabase/hypercert_accounting.py
Due: none

feat(allowlist): added batchminting and test
  frontend/hooks/mintClaimAllowlist.ts
  sdk/src/client.ts
  sdk/src/types/client.ts
  sdk/src/types/hypercerts.ts
  sdk/src/utils/config.ts
  sdk/src/validator/index.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
  sdk/test/indexer.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(test): cleanup mocked minting test
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: reconcile tokens between merkle tree and supabase (#810)
  utils/supabase/hypercert_accounting.py
Due: none

fix: identify *lost* claims
  utils/supabase/hypercert_accounting.py
Due: none

fix: lost claims (#812)
  utils/supabase/hypercert_accounting.py
Due: none

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
