Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{md,json}": [
    "prettier --write --ignore-path .gitignore"
  ]
}

fix: include projectId in canonical project data JSON
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/serialize_project_data.py
Due: prettier --write --ignore-path .gitignore

fix: added missing project
  utils/gitcoin/config/projects-list.json
Due: prettier --write --ignore-path .gitignore

fix: dedupe projects by projectID
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/data/canonical-project-data.json
Due: prettier --write --ignore-path .gitignore

fix: change to allowlist rounding function
  utils/gitcoin/allowlist.py
Due: none

chore: store banners and serialize data
  utils/gitcoin/config/config.json
  utils/gitcoin/data/canonical-project-data.json
Due: prettier --write --ignore-path .gitignore

feat: assign hypercerts to matching pool donors (dummy data)
  utils/gitcoin/config/config.json
  utils/gitcoin/matching_pools.py
Due: prettier --write --ignore-path .gitignore

chore: add match donors to allowlists
  utils/gitcoin/allowlist.py
  utils/gitcoin/data/canonical-project-data.json
Due: prettier --write --ignore-path .gitignore

utils: finalize GTC allowlists with safes and match pool donors (#461)
  utils/gitcoin/allowlist.py
  utils/gitcoin/check_multisigs.py
  utils/gitcoin/config/config.json
  utils/gitcoin/config/multisig-mapping.json
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/config/rounds-list.json
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/matching_pools.py
  utils/gitcoin/serialize_project_data.py
Due: prettier --write --ignore-path .gitignore

fix: typo on `homeNavBoxes`
  docs/src/components/homepage/homeNavBoxes.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: minting guide updates (#462)
  docs/src/components/homepage/homeNavBoxes.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: revert back to buffered floor allowlist calc
  utils/gitcoin/allowlist.py
Due: none

docs: updates to minting instructions
  docs/docs/minting-guide/gitcoin-round.md
  docs/docs/minting-guide/step-by-step.md
Due: prettier --write --ignore-path .gitignore

fix: copy-editing to step-by-step
  docs/docs/minting-guide/step-by-step.md
Due: prettier --write --ignore-path .gitignore

fix: update broken url
  docs/docs/minting-guide/step-by-step.md
Due: prettier --write --ignore-path .gitignore

docs/minting-guide-updates (#463)
  docs/docs/minting-guide/gitcoin-round.md
  docs/docs/minting-guide/step-by-step.md
  utils/gitcoin/allowlist.py
Due: prettier --write --ignore-path .gitignore

feat: expose more MUI textfield props
  frontend/components/forms.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: expose more MUI textfield props (#465)
  frontend/components/forms.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: add climate bundles
  utils/gitcoin/config/config.json
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/get_qfvotes.py
  utils/gitcoin/serialize_bundle_data.py
Due: prettier --write --ignore-path .gitignore

fix: manual edits in project data
  utils/gitcoin/data/climate-bundle-data.json
Due: prettier --write --ignore-path .gitignore

feat: capture metadata for climate bundles (#467)
  utils/gitcoin/config/config.json
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/get_qfvotes.py
  utils/gitcoin/serialize_bundle_data.py
Due: prettier --write --ignore-path .gitignore

feat(allowlist): Add more sophisticated allowlist management
  frontend/hooks/mintClaimAllowlist.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/errors.ts
  frontend/lib/parsing.test.ts
  frontend/lib/parsing.ts
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(allowlist): Add more sophisticated allowlist management (#466)
  frontend/hooks/mintClaimAllowlist.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/errors.ts
  frontend/lib/parsing.test.ts
  frontend/lib/parsing.ts
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: convert bundled projects to hypercerts with valid urls
  utils/gitcoin/config/config.json
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/data/climate-bundle-project-data.json
  utils/gitcoin/serialize_bundle_data.py
Due: prettier --write --ignore-path .gitignore

Update gitcoin-round.md
  docs/docs/minting-guide/gitcoin-round.md
Due: prettier --write --ignore-path .gitignore

Update gitcoin-round.md (#469)
  docs/docs/minting-guide/gitcoin-round.md
Due: prettier --write --ignore-path .gitignore

fix: 7ENergy typo
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/data/climate-bundle-project-data.json
Due: prettier --write --ignore-path .gitignore

feat: convert bundled projects to hypercerts with valid urls (#468)
  utils/gitcoin/config/config.json
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/data/climate-bundle-project-data.json
  utils/gitcoin/serialize_bundle_data.py
Due: prettier --write --ignore-path .gitignore

fix: typo edits (#471)
  utils/gitcoin/data/climate-bundle-data.json
  utils/gitcoin/data/climate-bundle-project-data.json
Due: prettier --write --ignore-path .gitignore

feat: add the domain and chainId to Config
  .github/workflows/ci-default.yml
  frontend/.env.local.example
  frontend/components/config.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: add the domain and chainId to Config (#478)
  .github/workflows/ci-default.yml
  frontend/.env.local.example
  frontend/components/config.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore: testing URLs
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

chore: testing URLs (#479)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

fix: refactoring to not use a querystring via GET parameters
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: refactoring to not use a querystring via GET parameters (#481)
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore: finalize allowlists and regenerate links
  utils/gitcoin/config/config.json
  utils/gitcoin/config/rounds-list.json
  utils/gitcoin/data/climate-bundle-project-data.json
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

chore: finalize allowlists and regenerate links (#482)
  utils/gitcoin/config/config.json
  utils/gitcoin/config/rounds-list.json
  utils/gitcoin/data/climate-bundle-project-data.json
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

fix: show error message if on wrong network
  frontend/components/config.tsx
  frontend/components/dapp-context.tsx
  frontend/components/hypercert-create.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: show error message if on wrong network (#483)
  frontend/components/config.tsx
  frontend/components/dapp-context.tsx
  frontend/components/hypercert-create.tsx
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: add confetti to celebrate hypercert minting
  frontend/components/confetti.tsx
  frontend/components/hypercert-create.tsx
  frontend/package.json
  frontend/pages/[[...catchall]].tsx
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: add confetti to celebrate hypercert minting (#484)
  frontend/components/confetti.tsx
  frontend/components/hypercert-create.tsx
  frontend/package.json
  frontend/pages/[[...catchall]].tsx
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore
