Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(canvas): error handling and toast
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(lint): fix lint errors
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/splitClaimUnits.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(test): cleanup logs and make 'em pass
  sdk/src/utils/config.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/utils/logger.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

v0.0.13
  contracts/package.json
Due: prettier --write

fix(npm): contract release and deps updated
  frontend/package.json
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Npm release all the things (#874)
  contracts/package.json
  frontend/package.json
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(defender): add update flow
  defender/src/networks.ts
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(pr): pr comment and generated docs
  defender/src/update.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(poll): add polling removed redundant hook
  frontend/hooks/claims.ts
  frontend/hooks/contracts.ts
  frontend/hooks/fractions.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/parse-blockchain-error.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix/update supabase cache (#817)
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/networks.ts
  defender/src/rollout.ts
  defender/src/setup.ts
  defender/src/update.ts
  frontend/components/burn-fraction-button.tsx
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/hypercert-create.tsx
  frontend/hooks/burnFraction.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(test): add sinon stubs
  sdk/package.json
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/storage.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Bitbeckers/issue674 (#879)
  frontend/hooks/claims.ts
  frontend/hooks/contracts.ts
  frontend/hooks/fractions.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/parse-blockchain-error.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: os observer basic api demo
  os-observer/src/api_demo.py
Due: none

feat: add dummy metrics as placeholders
  os-observer/src/api_demo.py
Due: none

simple oso/api demo (#881)
  os-observer/src/api_demo.py
Due: none

feat: query stats for a github username
  os-observer/src/events/github_user.py
Due: none

feat: query stats for a github username (#882)
  os-observer/src/events/github_user.py
Due: none

fix(test): add sinon and teardown to handle leaks
  sdk/jest.config.ts
  sdk/src/evaluations/index.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/storage.test.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/storage/web3.storage.test.ts
  sdk/test/teardown.ts
  sdk/test/utils/logger.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Feat/robust network switching (#856)
  frontend/hooks/hypercerts-client.ts
  sdk/jest.config.ts
  sdk/package.json
  sdk/src/evaluations/index.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/storage.test.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/storage/web3.storage.test.ts
  sdk/test/teardown.ts
  sdk/test/utils/logger.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(wallets): add a bunch of wallet and wc ID
  frontend/.env.local.example
  frontend/components/dapp-context.tsx
  frontend/lib/config.ts
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(var): add to github actions
  .github/workflows/ci-default.yml
Due: none

fix(lint): unused injected var in dapp-context
  frontend/components/dapp-context.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

update zuzualu billboard data
  vendor/observabletreemap/files/af40c6fdb79581388488f364d8ef0bab6388ba6c45ccae8b8e691939048c2de72f421898ecbe772c1ed529a8c75acc2cf02ec1ab6d3d53014273688cfffaef6c.json
Due: prettier --write

disable background image of zuzalu billboard
  vendor/observabletreemap/c857fa5c110524ee@515.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(whomp): whomp whomp
  frontend/components/dapp-context.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Update zuzualu billboard (#892)
  vendor/observabletreemap/c857fa5c110524ee@515.js
  vendor/observabletreemap/files/af40c6fdb79581388488f364d8ef0bab6388ba6c45ccae8b8e691939048c2de72f421898ecbe772c1ed529a8c75acc2cf02ec1ab6d3d53014273688cfffaef6c.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(var): secret not var
  .github/workflows/ci-default.yml
Due: none

Create a generic treemap
  frontend/components/generic-hypercert-treemap.tsx
  frontend/components/zuzalu-hypercert-treemap.compat.d.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix comment
  frontend/components/generic-hypercert-treemap.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix default children
  frontend/components/generic-hypercert-treemap.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Generic Treemap (#893)
  frontend/components/generic-hypercert-treemap.tsx
  frontend/components/zuzalu-hypercert-treemap.compat.d.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix builds
  frontend/components/generic-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix builds after GenericHypercertsTreemap merge (#894)
  frontend/components/generic-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(wallets): add all the wallets
  frontend/components/dapp-context.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(upgrade): wagmi + rainbowkit ^1
  frontend/.env.local.example
  frontend/components/burn-fraction-button.tsx
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/dapp-context.tsx
  frontend/components/hypercert-create.tsx
  frontend/components/zuzalu-purchase.tsx
  frontend/hooks/account.ts
  frontend/hooks/burnFraction.ts
  frontend/hooks/checkWriteable.ts
  frontend/hooks/contracts.ts
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
  frontend/lib/config.ts
  frontend/lib/formatting.ts
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/lib/parse-blockchain-error.ts
  frontend/lib/parsing.ts
  frontend/next.config.js
  frontend/package.json
  frontend/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(wagmi): upgrade tested mint allowlist, burn
  frontend/components/connect-wallet.tsx
  frontend/hooks/burnFraction.ts
  frontend/hooks/hypercerts-client.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(writeable): loud check on writeability
  frontend/components/burn-fraction-button.tsx
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/dapp-context.tsx
  frontend/components/hypercert-create.tsx
  frontend/hooks/checkWriteable.ts
  frontend/package.json
  frontend/pages/[[...catchall]].tsx
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(ids): get ids from event instead of tx body
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(var): add walletconnect secret to gh action
  .github/workflows/ci-default.yml
Due: none

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
