Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

start work on calling GraphQL queries
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/src/github.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: update to latest schema
  utils/os-observer/src/schema.sql
Due: none

fix(scraper): better handling for chrome drivers
  utils/os-observer/src/events/zerion_scraper.py
Due: none

feat(db): handling for interruptions
  utils/os-observer/src/database.py
Due: none

Prisma oss db (#694)
  utils/os-observer/.gitignore
  utils/os-observer/flake.nix
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/prisma/migrations/20230519205134_copy_carls_schema/migration.sql
  utils/os-observer/prisma/migrations/20230525162910_create_event_type_enum/migration.sql
  utils/os-observer/prisma/migrations/migration_lock.toml
  utils/os-observer/prisma/schema.prisma
  utils/os-observer/src/github.ts
  utils/os-observer/src/index.ts
  utils/os-observer/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(fe): add burn button
  frontend/components/burn-fraction.tsx
  frontend/hooks/burnFraction.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(button): renamed to burn-fraction-button
  frontend/components/burn-fraction-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(burn): registered component
  frontend/components/burn-fraction-button.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

690 burn a hypercert (#724)
  frontend/components/burn-fraction-button.tsx
  frontend/hooks/burnFraction.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(button): content and closing tag
  frontend/components/burn-fraction-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

690 burn a hypercert (#725)
  frontend/components/burn-fraction-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(style): button classname for styling
  frontend/components/burn-fraction-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

690 burn a hypercert (#726)
  frontend/components/burn-fraction-button.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: update scraper to new events schema
  utils/os-observer/src/events/zerion_scraper.py
Due: none

chore: prepare main function
  utils/os-observer/src/events/zerion_scraper.py
Due: none

fix(db): include zerion transactions as events
  utils/os-observer/src/database.py
Due: none

refactor: events database (#720)
  utils/os-observer/src/database.py
  utils/os-observer/src/events/github_events.py
  utils/os-observer/src/events/zerion_scraper.py
  utils/os-observer/src/schema.sql
  utils/os-observer/src/validate_eth_address.py
Due: none

feat(schema): updated schema, types and signers
  frontend/hooks/hypercerts-client.ts
  graph/generated/schema.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/resources/schema/evaluation.json
  sdk/src/types/evaluation.d.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(lock): updated yarn lock
  yarn.lock
Due: none

feat: Zuzalu form adding new fields
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(burnButton): add input text to burn button
  frontend/components/burn-fraction-button.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

690 burn a hypercert (#731)
  frontend/components/burn-fraction-button.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(schema): add simple text evaluation
  sdk/src/resources/schema/evaluation.json
  sdk/src/types/evaluation.d.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(eas): eas schemas as constants
  sdk/src/constants.ts
  sdk/src/evaluations/eas.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(eas): added content hash and validators
  sdk/src/constants.ts
  sdk/src/evaluations/eas.ts
  sdk/src/resources/schema/evaluation.json
  sdk/src/types/evaluation.d.ts
  sdk/src/validator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(evaluation): removed IPFS as evaluationsource
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(scraper): longer sleep time needed to grab history for bigger projects
  utils/os-observer/src/events/zerion_scraper.py
Due: none

fix(scraper): longer sleep time needed to grab history for bigger pro… (#735)
  utils/os-observer/src/events/zerion_scraper.py
Due: none

feat: Zuzalu form adding new fields (#730)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: Adding os-observer to the monorepo
  .gitignore
  os-observer/.env.example
  os-observer/.gitignore
  os-observer/README.md
  os-observer/app.py
  os-observer/assets/os-observer.png
  os-observer/assets/style.css
  os-observer/data/gitcoin-allo/ai_description.py
  os-observer/data/gitcoin-allo/get_allo_data.py
  os-observer/flake.nix
  os-observer/package.json
  os-observer/prisma/migrations/20230519205134_copy_carls_schema/migration.sql
  os-observer/prisma/migrations/20230525162910_create_event_type_enum/migration.sql
  os-observer/prisma/migrations/migration_lock.toml
  os-observer/prisma/schema.prisma
  os-observer/requirements.txt
  os-observer/src/__init__.py
  os-observer/src/database.py
  os-observer/src/events/__init__.py
  os-observer/src/events/funding_rounds.py
  os-observer/src/events/github_events.py
  os-observer/src/events/graphql_queries.py
  os-observer/src/events/readme.md
  os-observer/src/events/zerion_scraper.py
  os-observer/src/github.ts
  os-observer/src/index.ts
  os-observer/src/schema.sql
  os-observer/src/validate_eth_address.py
  os-observer/src/validate_github_org.py
  os-observer/test/client.test.ts
  os-observer/tsconfig.json
  package.json
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: Adding os-observer to the monorepo (#737)
  .gitignore
  os-observer/.env.example
  os-observer/.gitignore
  os-observer/README.md
  os-observer/app.py
  os-observer/assets/os-observer.png
  os-observer/assets/style.css
  os-observer/data/gitcoin-allo/ai_description.py
  os-observer/data/gitcoin-allo/get_allo_data.py
  os-observer/flake.nix
  os-observer/package.json
  os-observer/prisma/migrations/20230519205134_copy_carls_schema/migration.sql
  os-observer/prisma/migrations/20230525162910_create_event_type_enum/migration.sql
  os-observer/prisma/migrations/migration_lock.toml
  os-observer/prisma/schema.prisma
  os-observer/requirements.txt
  os-observer/src/__init__.py
  os-observer/src/database.py
  os-observer/src/events/__init__.py
  os-observer/src/events/funding_rounds.py
  os-observer/src/events/github_events.py
  os-observer/src/events/graphql_queries.py
  os-observer/src/events/readme.md
  os-observer/src/events/zerion_scraper.py
  os-observer/src/github.ts
  os-observer/src/index.ts
  os-observer/src/schema.sql
  os-observer/src/validate_eth_address.py
  os-observer/src/validate_github_org.py
  os-observer/test/client.test.ts
  os-observer/tsconfig.json
  package.json
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: Vercel build should not use `next export`
  frontend/package.json
  package.json
  sdk/package.json
  turbo.json
Due: prettier --write

fix: Vercel build should not use `next export` (#738)
  frontend/package.json
  package.json
  sdk/package.json
  turbo.json
Due: prettier --write

feat: os-observer plumbing MVP
  .github/workflows/os-observer.yml
  frontend/package.json
  frontend/pages/api/os-observer.ts
  os-observer/package.json
  os-observer/src/actions/fetch-github.ts
  os-observer/src/cli.ts
  os-observer/src/github.ts
  os-observer/src/index.ts
  os-observer/src/utils/error.ts
  os-observer/src/utils/logger.ts
  os-observer/tsconfig.json
  package.json
  sdk/package.json
  turbo.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: remove `settings` and `rules` from next.config.js
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: os-observer plumbing MVP (#741)
  .github/workflows/os-observer.yml
  frontend/package.json
  frontend/pages/api/os-observer.ts
  os-observer/package.json
  os-observer/src/actions/fetch-github.ts
  os-observer/src/cli.ts
  os-observer/src/github.ts
  os-observer/src/index.ts
  os-observer/src/utils/error.ts
  os-observer/src/utils/logger.ts
  os-observer/tsconfig.json
  package.json
  sdk/package.json
  turbo.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: remove `settings` and `rules` from next.config.js (#742)
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

refactor: small fix to populate database
  os-observer/src/database.py
Due: none

feat: consolidate received funding events
  os-observer/src/events/zerion_scraper.py
Due: none

feat(evaluation): validators and tests
  sdk/src/client.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/resources/schema/evaluation.json
  sdk/src/validator/index.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/helpers.ts
  sdk/test/validator.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write
