Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: add chain type to schema
  utils/os-observer/data/schema.sql
Due: none

chore: set chain to mainnet
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
Due: none

feat: add grant funding events to database
  utils/os-observer/src/database.py
  utils/os-observer/src/events/funding_rounds.py
Due: none

chore: update events table
  utils/os-observer/src/database.py
Due: none

add allo data and support for funding events (#642)
  utils/os-observer/.gitignore
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
  utils/os-observer/data/projects.json
  utils/os-observer/data/schema.sql
  utils/os-observer/src/database.py
  utils/os-observer/src/events/__init__.py
  utils/os-observer/src/events/funding_rounds.py
  utils/os-observer/src/events/github_events.py
  utils/os-observer/src/events/graphql_queries.py
  utils/os-observer/src/events/zerion_scraper.py
  utils/os-observer/src/validate_eth_address.py
  utils/os-observer/src/validate_github_org.py
Due: prettier --write

fix(graph): update graph to latest version
  graph/package.json
  graph/tests/.latest.json
  yarn.lock
Due: prettier --write

fix(test): extended minting test timeout
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(sdk): direct npm dependency protocol pack
  sdk/package.json
Due: prettier --write

fix(test): extend timeout
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(test): add mock instances to tests
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(timout): really long timeout
  sdk/test/client/allowlist.minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(test): max workers on sdk test run
  sdk/package.json
Due: prettier --write

fix: pandas 2 support
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

feat: supabase-to-chart hacks
  frontend/components/supabase-to-chart.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: supabase-to-chart hacks (#627)
  frontend/components/supabase-to-chart.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Feat/mint claim from sdk (#616)
  frontend/components/claim-all-fractions-button.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/mintFractionAllowlistBatchSDK.ts
  frontend/lib/verify-fraction-claim.ts
  graph/package.json
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/hypercerts.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(eslint): ignore generated and fix cors-lint
  .eslintrc.json
  cors-proxy/package.json
  graph/generated/schema.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Feat/setup hook split merge (#617)
  .eslintrc.json
  cors-proxy/package.json
  frontend/hooks/mergeFractionUnitsSDK.ts
  frontend/hooks/splitClaimUnitsSDK.ts
  graph/generated/schema.ts
  sdk/src/client.ts
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Revert "Feat/mint claim from sdk (#616)"
  frontend/components/claim-all-fractions-button.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/mintFractionAllowlistBatchSDK.ts
  frontend/lib/verify-fraction-claim.ts
  graph/package.json
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/hypercerts.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(docs): updated docs generated
  yarn.lock
Due: none

Revert "Feat/mint claim from sdk" (#655)
  frontend/components/claim-all-fractions-button.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/mintFractionAllowlistBatchSDK.ts
  frontend/lib/verify-fraction-claim.ts
  graph/package.json
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/hypercerts.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix()
  sdk/src/index.ts
  sdk/src/types/hypercerts.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(sdk): import export TransferRestrictions
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(graph): updated autogen schema
  sdk/src/index.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/test/client.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(sdk): a wild import appeared
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Bugfix: no enum in d.ts (#656)
  sdk/src/index.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/types/hypercerts.ts
  sdk/test/client.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(build): fresh build and install
  yarn.lock
Due: none

114 hypercerts technical documentation mvp (#612)
  contracts/hardhat.config.ts
  contracts/package.json
  docs/docs/developer/api-reference.md
  docs/docs/developer/api/contracts/AllowlistMinter.md
  docs/docs/developer/api/contracts/HypercertMinter.md
  docs/docs/developer/api/contracts/SemiFungible1155.md
  docs/docs/developer/api/contracts/index.md
  docs/docs/developer/api/contracts/interfaces/IAllowlist.md
  docs/docs/developer/api/contracts/interfaces/IHypercertToken.md
  docs/docs/developer/api/contracts/libs/Errors.md
  docs/docs/developer/api/index.md
  docs/docs/developer/api/sdk/.nojekyll
  docs/docs/developer/api/sdk/README.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/enums/TransferRestrictions.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/modules.md
  docs/docs/developer/index.md
  docs/docs/developer/quickstart-javascript.md
  docs/docs/developer/supported-networks.md
  docs/docusaurus.config.js
  docs/static/img/icons/github-mark.png
  frontend/next.config.js
  package.json
  sdk/README.md
  sdk/docs/classes/HypercertsStorage.md
  sdk/docs/interfaces/HypercertClaimdata.md
  sdk/docs/interfaces/HypercertMetadata.md
  sdk/docs/modules.md
  sdk/typedoc.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(burn): basic burn test
  sdk/test/client/burn.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(burn): add FE hook for burn
  frontend/hooks/burnFraction.ts
  sdk/test/client/burn.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(eas): initial implementation
  sdk/package.json
  sdk/src/evaluations/eas.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(schema): setup evaluation json schema
  sdk/src/resources/schema/evaluation.json
Due: prettier --write

feat(evaluation): generated types
  sdk/src/types/evaluation.d.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: update csv dump cases
  utils/supabase/claims_metadata_mapper.py
Due: none

fix: pandas 2 support (#660)
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

docs: added readme for making github event queries
  utils/os-observer/src/database.py
  utils/os-observer/src/events/readme.md
Due: prettier --write

docs: fix minor formatting issues
  utils/os-observer/src/events/readme.md
Due: prettier --write

docs: added readme for making github event queries (#668)
  utils/os-observer/src/database.py
  utils/os-observer/src/events/readme.md
Due: prettier --write

chore: move schema and update gitignore
  utils/os-observer/.gitignore
  utils/os-observer/data/projects.json
  utils/os-observer/src/schema.sql
Due: prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
