Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: set char limit to 500
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: uri broken in contract (#386)
  contracts/.openzeppelin/goerli.json
  contracts/src/SemiFungible1155.sol
Due: prettier --write --ignore-path .gitignore

testing short links
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

Update homeNavBoxes.js
  docs/src/components/homepage/homeNavBoxes.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Update docusaurus.config.js
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Update homeNavBoxes.module.css
  docs/src/components/homepage/homeNavBoxes.module.css
Due: none

Fix missing link (#390)
  docs/docusaurus.config.js
  docs/src/components/homepage/homeNavBoxes.js
  docs/src/components/homepage/homeNavBoxes.module.css
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat/shorten url (#388)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: add descr len chars to csv export
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

fix: reduce lengths to <500 chars
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

Fix/url descr len (#392)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

simplify to just 500 chars
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: simplify url lengths
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: simplify url lengths (#396)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

feat(build): rollup and graph multichain
  sdk/.graphclient/index.ts
  sdk/.graphclient/schema.graphql
  sdk/.graphclient/sources/Hypercerts/introspectionSchema.ts
  sdk/.graphclient/sources/Hypercerts/schema.graphql
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/.graphclientrc.yml
  sdk/package.json
  sdk/rollup.config.js
  sdk/src/.graphclient/sources/hypercerts-dev/schema.graphql
  sdk/src/claims.ts
  sdk/src/fractions.ts
  sdk/src/index.ts
  sdk/src/queries/claims.graphql
  sdk/src/queries/fractions.graphql
  sdk/src/utils/resolvers.ts
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(env): env var setup
  frontend/package.json
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/src/utils/formatter.ts
  sdk/src/utils/provider.ts
  sdk/src/utils/requireEnv.ts
  sdk/src/utils/resolvers.ts
  sdk/test/operator.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): config and cleanup
  frontend/next.config.js
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/operator/index.ts
  sdk/src/utils/provider.ts
  sdk/src/utils/resolvers.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: shorten to approx 500 chars without cutting mid paragraph
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: shorten to approx 500 chars without cutting mid paragraph (#398)
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/project_urls.md
Due: none

fix: only prefix CID with ipfs:// if not already there
  README.md
  frontend/lib/formatting.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: only prefix CID with ipfs:// if not already there (#399)
  README.md
  frontend/lib/formatting.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Defender not triggering on right events
  defender/package.json
  defender/src/create-sentinel.ts
  defender/src/setup.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Defender not triggering on right events (#401)
  defender/package.json
  defender/src/create-sentinel.ts
  defender/src/setup.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(docs): added typedoc
  sdk/RELEASE.md
  sdk/docs/.nojekyll
  sdk/docs/API.md
  sdk/docs/README.md
  sdk/docs/classes/HypercertsStorage.md
  sdk/docs/interfaces/HypercertClaimdata.md
  sdk/docs/interfaces/HypercertMetadata.md
  sdk/docs/modules.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/.graphclient/sources/hypercerts-dev/introspectionSchema.ts
  sdk/src/.graphclient/sources/hypercerts-dev/types.ts
  sdk/src/formatter.ts
  sdk/typedoc.json
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(json): json types dist render
  sdk/package.json
  sdk/yarn.lock
Due: prettier --write --ignore-path .gitignore

feat(rollup): initial rollup setup
  sdk/.gitignore
  sdk/package.json
  sdk/rollup.config.js
  sdk/src/.graphclient/index.ts
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore(doc): updated release doc
  sdk/RELEASE.md
Due: none

fix/sdk: support optimism in SDK
  sdk/.graphclientrc.yml
  sdk/package.json
  sdk/src/claims.ts
  sdk/src/fractions.ts
  sdk/src/queries/claims.graphql
  sdk/src/queries/fractions.graphql
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: dist/ needs to be included in SDK package.json files
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write --ignore-path .gitignore

docs/minor copy edits to FAQs and intro
  docs/docs/faq.md
  docs/docs/intro.md
Due: none

fix/added flag for descriptions that have been shortened
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

docs/minor copy edits to FAQs and intro (#403)
  docs/docs/faq.md
  docs/docs/intro.md
Due: none

fix/added flag for descriptions that have been shortened (#404)
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

chore: update all URIs to web3.storage versions
  utils/gitcoin/config/config.json
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

chore: update all URIs to web3.storage versions (#407)
  utils/gitcoin/config/config.json
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

add flags to csv export of all projects
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/create_hypercert_minting_urls.py
Due: prettier --write --ignore-path .gitignore

add flags to csv export of all projects (#411)
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/create_hypercert_minting_urls.py
Due: prettier --write --ignore-path .gitignore

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx}
  prettier --write --ignore-path .gitignore: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
