Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

chore(update): wagmi + rainbowkit updates (#925)
  frontend/package.json
  yarn.lock
Due: prettier --write

feat(test): cleanup test errors
  sdk/jest.config.ts
  sdk/package.json
  sdk/src/client.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/helpers.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/setup-env.ts
  sdk/test/storage.test.ts
  sdk/test/teardown.ts
  sdk/test/utils/logger.test.ts
  sdk/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(config): add test suite for getConfig
  sdk/package.json
  sdk/src/utils/config.ts
  sdk/test/utils/config.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(fe): updated FE to use updated config
  frontend/hooks/hypercerts-client.ts
  frontend/package.json
  sdk/.eslintrc.yml
  sdk/RELEASE.md
  sdk/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

v0.3.0
  sdk/package.json
Due: prettier --write

chore(npm): release sdk 0.3.0
  frontend/package.json
Due: prettier --write

fix(tests): sinon stubs instead of direct conf
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/client.ts
  sdk/src/utils/logger.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/helpers.ts
  sdk/test/utils/config.test.ts
  sdk/test/utils/logger.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(form): added checks and submit hook
  frontend/components/zuzalu-purchase.tsx
  frontend/hooks/checkWriteable.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(form): added checks and submit hook (#929)
  frontend/components/zuzalu-purchase.tsx
  frontend/hooks/checkWriteable.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(mint): zuzala mint checks
  frontend/components/zuzalu-purchase.tsx
  frontend/sentry.client.config.js
  frontend/sentry.edge.config.js
  frontend/sentry.server.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(sentry): revert check on node_env
  frontend/sentry.client.config.js
  frontend/sentry.edge.config.js
  frontend/sentry.server.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix/zuzalu purchase checks (#930)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat(docs): typedocs and allowlists.md
  docs/docs/developer/allowlists.md
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/ConfigurationError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/classes/internal.default-1.md
  docs/docs/developer/api/sdk/classes/internal.default-2.md
  docs/docs/developer/api/sdk/classes/internal.default-3.md
  docs/docs/developer/api/sdk/classes/internal.default.md
  docs/docs/developer/api/sdk/enums/internal.ErrorType.md
  docs/docs/developer/api/sdk/interfaces/CustomError.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/interfaces/internal.EvaluatorInterface.md
  docs/docs/developer/api/sdk/interfaces/internal.HypercertClaimdata.md
  docs/docs/developer/api/sdk/modules.md
  docs/docs/developer/api/sdk/modules/internal.md
  docs/docs/developer/config.md
  docs/docs/developer/errors.md
  docs/docs/developer/quickstart-javascript.md
  sdk/src/types/client.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

docs(dev): allowlist, config, errors, minting, etc
  docs/docs/developer/allowlists.md
  docs/docs/developer/config.md
  docs/docs/developer/errors.md
  docs/docs/developer/minting.md
  docs/docs/developer/querying.md
  docs/docs/developer/quickstart-javascript.md
  sdk/.env.template
Due: prettier --write

e2e: GH actions start
  .github/workflows/e2e-tests.yml
  docker/README.md
  docker/after_localchain.sh
  docker/compose.yaml
  docker/e2e.env
  docker/playwright.Dockerfile
  docker/run_tests.sh
  e2e/fixtures/metamask.ts
  e2e/mint-token.spec.ts
  e2e/utils/constants.ts
  nohup.out
  package.json
  playwright.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

test
  .github/workflows/e2e-tests.yml
Due: none

clean up a bit
  .github/workflows/e2e-tests.yml
  package.json
Due: prettier --write

update docker ref
  docker/compose.yaml
Due: none

local build keeps hanging... adding this here now
  .github/workflows/docker-deps.yml
  docker/scripts/build-graph.sh
Due: none

fix
  .github/workflows/docker-deps.yml
Due: none

try only building arm
  .github/workflows/docker-deps.yml
  docker/scripts/build-graph.sh
Due: none

test
  .github/workflows/docker-deps.yml
Due: none

Fix how docker deps built and used
  .github/workflows/docker-deps.yml
  docker/compose.yaml
  docker/scripts/build-graph.sh
Due: none

fixes
  .github/workflows/docker-deps.yml
  docker/graph.Dockerfile
  docker/scripts/build-base.sh
  docker/scripts/build-graph.sh
  docker/scripts/build-playwright.sh
Due: none

moar
  docker/scripts/build-graph.sh
Due: none

ugh more
  docker/scripts/build-graph.sh
Due: none

small fixes
  docker/compose.yaml
  docker/scripts/build-base.sh
  docker/scripts/build-graph.sh
  docker/scripts/build-playwright.sh
Due: none

fixes
  .github/workflows/docker-deps.yml
  docker/base.env
  docker/compose.yaml
  package.json
Due: prettier --write

auth failed... testing
  .github/workflows/docker-deps.yml
  docker/scripts/build-graph-dependencies.sh
Due: none

test
  .github/workflows/docker-deps.yml
  docker/scripts/build-playwright.sh
Due: none

fix
  .github/workflows/docker-deps.yml
  docker/scripts/build-playwright.sh
Due: none

pipeline fixes
  .github/workflows/ci-default.yml
Due: none

Fix base build
  docker/scripts/build-base.sh
Due: none

rebuild
  .github/workflows/docker-deps.yml
Due: none

in a hurry making dumb mistakes
  .github/workflows/docker-deps.yml
Due: none

remove buildx... adds complications
  .github/workflows/docker-deps.yml
Due: none

some fixes
  .github/workflows/e2e-tests.yml
  docker/after_localchain.sh
  docker/compose.yaml
  docker/e2e.env
  docker/playwright.Dockerfile
  docker/playwright.Dockerfile.rej
  docker/run_tests.sh
Due: none
