Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

v0.4.0
  sdk/package.json
Due: prettier --write

feat(package): SDK cjs and esm release 0.4.0
  sdk/rollup.config.js
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.2.0
  contracts/package.json
Due: prettier --write

v0.5.0
  sdk/package.json
Due: prettier --write

feat(npm): rollup, publish sdk 0.5 contr 0.2
  contracts/hardhat.config.ts
  contracts/rollup.config.js
  contracts/src/index.ts
  contracts/tsconfig.build.json
  frontend/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(deploy): deployed to goerli
  contracts/.openzeppelin/goerli.json
  contracts/src/HypercertTrader.sol
  contracts/src/interfaces/IHypercertTrader.sol
  contracts/tasks/deploy-trader.ts
  contracts/tasks/index.ts
  contracts/test/foundry/HypercertTrader.offers.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  docs/docs/developer/api/contracts/HypercertTrader.md
  docs/docs/developer/api/contracts/IHypercertMinter.md
  docs/docs/developer/api/contracts/interfaces/IHypercertTrader.md
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(ci): updated hh scripts for trader contract
  contracts/.openzeppelin/goerli.json
  contracts/README.md
  contracts/src/HypercertTrader.sol
  contracts/tasks/deploy-trader.ts
  contracts/tasks/deploy.ts
  contracts/tasks/transfer-owner.ts
  contracts/tasks/upgrade.ts
  contracts/test/foundry/HypercertTrader.admin.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(pause): pausable controls and tests
  contracts/.openzeppelin/goerli.json
  contracts/src/HypercertTrader.sol
  contracts/tasks/index.ts
  contracts/tasks/upgrade.ts
  contracts/test/foundry/HypercertTrader.admin.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(trader): init trader graph
  contracts/.openzeppelin/goerli.json
  contracts/src/HypercertTrader.sol
  contracts/src/interfaces/IHypercertTrader.sol
  docs/docs/developer/api/contracts/HypercertTrader.md
  docs/docs/developer/api/contracts/interfaces/IHypercertTrader.md
  graph/abis/HypercertTrader.json
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/generated/schema.ts
  graph/networks.json
  graph/schema.graphql
  graph/src/hypercert-trader.ts
  graph/src/utils.ts
  graph/subgraph.yaml
  graph/tests/.latest.json
  graph/tests/hypercert-minter-burn.test.ts
  graph/tests/hypercert-minter-claim.test.ts
  graph/tests/hypercert-trader-utils.ts
  graph/tests/hypercert-trader.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

nitial trader implementation (#1063)
  .github/workflows/ci-default.yml
  contracts/.openzeppelin/goerli.json
  contracts/README.md
  contracts/src/HypercertTrader.sol
  contracts/src/SemiFungible1155.sol
  contracts/src/interfaces/IHypercertTrader.sol
  contracts/tasks/deploy.ts
  contracts/tasks/transfer-owner.ts
  contracts/tasks/upgrade.ts
  contracts/test/foundry/HypercertTrader.admin.t.sol
  contracts/test/foundry/HypercertTrader.offers.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
  docs/docs/developer/api/contracts/HypercertTrader.md
  docs/docs/developer/api/contracts/IHypercertMinter.md
  docs/docs/developer/api/contracts/interfaces/IHypercertTrader.md
  frontend/hooks/mintFractionAllowlistBatch.ts
  graph/abis/HypercertTrader.json
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/generated/schema.ts
  graph/networks.json
  graph/schema.graphql
  graph/src/hypercert-trader.ts
  graph/src/utils.ts
  graph/subgraph.yaml
  graph/tests/.latest.json
  graph/tests/hypercert-minter-burn.test.ts
  graph/tests/hypercert-minter-claim.test.ts
  graph/tests/hypercert-trader-utils.ts
  graph/tests/hypercert-trader.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(tokens): surface accepted tokens
  contracts/.openzeppelin/goerli.json
  contracts/src/HypercertTrader.sol
  contracts/test/foundry/HypercertTrader.admin.t.sol
  contracts/test/foundry/HypercertTrader.offers.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  docs/docs/developer/api/contracts/HypercertTrader.md
  graph/abis/HypercertTrader.json
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/generated/schema.ts
  graph/package.json
  graph/schema.graphql
  graph/src/utils.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(tokens): acceptedTokens test and fix
  graph/src/utils.ts
  graph/tests/hypercert-trader.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(tokens): surface accepted tokens (#1065)
  contracts/.openzeppelin/goerli.json
  contracts/src/HypercertTrader.sol
  contracts/test/foundry/HypercertTrader.admin.t.sol
  contracts/test/foundry/HypercertTrader.offers.t.sol
  contracts/test/foundry/HypercertTrader.sales.t.sol
  docs/docs/developer/api/contracts/HypercertTrader.md
  graph/abis/HypercertTrader.json
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/generated/schema.ts
  graph/package.json
  graph/schema.graphql
  graph/src/utils.ts
  graph/tests/hypercert-trader.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(address): update trader address graph
  graph/src/hypercert-trader.ts
  graph/subgraph.yaml
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(import): add bigint to import
  graph/src/hypercert-trader.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Feat/accepted tokens (#1066)
  graph/src/hypercert-trader.ts
  graph/subgraph.yaml
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(log): add logging to trader mapping
  graph/src/utils.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Feat/accepted tokens (#1067)
  graph/src/utils.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

wip: NFT contract
  contracts/src/hyperboards/Factory.sol
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/hyperboards/WalletImpl.sol
  contracts/src/hyperboards/WalletProxy.sol
  contracts/src/libs/Errors.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP: NFT contract - Fixed counter errors
  contracts/src/hyperboards/HyperboardNFT.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

forge install: safe-contracts
  .gitmodules
Due: none

WIP: Addeding 6551 support
  contracts/remappings.txt
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/interfaces/IERC6551Registry.sol
  contracts/src/libs/Errors.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP: test case helpers
  .gitmodules
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/interfaces/IERC6551Registry.sol
  contracts/src/libs/Errors.sol
  contracts/test/foundry/HyperboardNFT.t.sol
  contracts/test/foundry/helpers/ERC20.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

forge install: openzeppelin-contracts
  .gitmodules
Due: none

WIP: test contract
  contracts/test/foundry/HyperboardNFT.t.sol
  contracts/test/foundry/helpers/ERC20.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Initial draft for Hyperboard NFT
  .gitmodules
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/test/foundry/HyperboardNFT.t.sol
  contracts/test/foundry/helpers/ERC20.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Added events and added way to updated base uri
  contracts/src/hyperboards/HyperboardNFT.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat: multichain support
  utils/gitcoin/GR18/ai_helper.py
  utils/gitcoin/GR18/get_grants_data.py
  utils/gitcoin/GR18/minting_urls.py
  utils/gitcoin/GR18/process_images.py
Due: none

GR18 hypercert minting link generation scripts (#1062)
  utils/gitcoin/GR18/.env.example
  utils/gitcoin/GR18/.gitignore
  utils/gitcoin/GR18/README.md
  utils/gitcoin/GR18/ai_helper.py
  utils/gitcoin/GR18/config.json
  utils/gitcoin/GR18/get_ens.py
  utils/gitcoin/GR18/get_grants_data.py
  utils/gitcoin/GR18/minting_urls.py
  utils/gitcoin/GR18/process_images.py
  utils/gitcoin/GR18/requirements.txt
  utils/gitcoin/GR18/workflow.sh
  utils/gitcoin/get_projects_in_round.py
Due: prettier --write

Updated hyperboard contract with the new logic
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/libs/Errors.sol
  contracts/test/foundry/HyperboardNFT.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Updated comments
  contracts/src/hyperboards/HyperboardNFT.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

removed unused import
  contracts/src/hyperboards/HyperboardNFT.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP:Wallet impl
  contracts/src/hyperboards/Factory.sol
  contracts/src/hyperboards/WalletFactory.sol
  contracts/src/hyperboards/WalletProxy.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP:wallet IMPL
  contracts/remappings.txt
  contracts/src/hyperboards/WalletFactory.sol
  contracts/src/hyperboards/WalletImpl.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP:Wallet IMPL
  .gitmodules
Due: none

WIP: wallet impl
  contracts/src/hyperboards/WalletImpl.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

WIP: wallet impl
  contracts/src/hyperboards/WalletFactory.sol
  contracts/src/hyperboards/WalletImpl.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Added subgraph for tracking hyperboard
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/hyperboards/WalletFactory.sol
  contracts/src/hyperboards/WalletImpl.sol
  contracts/test/foundry/HyperboardNFT.t.sol
  graph/abis/HyperboardNFT.json
  graph/generated/Hyperboard/Hyperboard.ts
  graph/generated/HypercertMinter/HypercertMinter.ts
  graph/generated/HypercertTrader/HypercertTrader.ts
  graph/generated/schema.ts
  graph/networks.json
  graph/schema.graphql
  graph/src/hyperboard-nft.ts
  graph/subgraph.yaml
  graph/tests/contract-utils.ts
  graph/tests/contract.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write
