Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): update tests and docs
  sdk/README.md
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/indexer.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/src/utils/parsing.ts
  sdk/test/indexer.test.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): set default indexer environment to all
  sdk/package.json
  sdk/src/constants.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(fix): revert auto-task updates
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

Feature/multi chain support (#1301)
  pnpm-lock.yaml
  scripts/update-claimids-in-supabase-to-multichain.sql
  sdk/README.md
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/indexer.ts
  sdk/src/indexer/gql/fragment-masking.ts
  sdk/src/indexer/gql/gql.ts
  sdk/src/indexer/gql/index.ts
  sdk/src/types/client.ts
  sdk/src/types/indexer.ts
  sdk/src/utils/chains.ts
  sdk/src/utils/config.ts
  sdk/src/utils/index.ts
  sdk/src/utils/parsing.ts
  sdk/test/indexer.test.ts
  sdk/test/indexer/queries.test.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(fix): updated "edit this page" link in the docusaurus configuration
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(allowlist): allowlist parsing updated sdk 1.5.1
  sdk/package.json
  sdk/src/storage.ts
  sdk/src/utils/allowlist.ts
  sdk/src/validator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(fvm): deploy calibrationnet
  contracts/.openzeppelin/unknown-314159.json
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/tasks/deploy-minter.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(signing): improve checks submitted orders
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/test/foundry/marketplace/LooksRareProtocol.t.sol
  contracts/test/foundry/marketplace/ProtocolBase.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertCollectionOffers.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertDutchAuctionOrders.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(apis): added staging API endpoints
  sdk/src/constants.ts
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(graph): updated graph client and queries
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  sdk/codegen.yml
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/indexer.ts
  sdk/src/indexer/gql/gql.ts
  sdk/src/indexer/gql/graphql.ts
  sdk/src/indexer/queries/claims.graphql
  sdk/src/indexer/queries/fractions.graphql
  sdk/src/indexer/queries/hypercerts.graphql
  sdk/src/indexer/utils.ts
  sdk/src/types/indexer.ts
  sdk/test/indexer/queries.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(build): buidl 2.0.0-alpha.6
  sdk/package.json
Due: prettier --write

fix(build): cleanup imports
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/utils/apis.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(check): update interface and move signature check
  contracts/src/marketplace/ExecutionManager.sol
  contracts/src/marketplace/LooksRareProtocol.sol
  contracts/src/marketplace/TransferManager.sol
  contracts/src/marketplace/TransferSelectorNFT.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertCollectionOffer.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertDutchAuction.sol
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
  contracts/src/marketplace/helpers/OrderValidatorV2A.sol
  contracts/src/marketplace/helpers/ProtocolHelpers.sol
  contracts/src/marketplace/interfaces/IHypercert1155Token.sol
  contracts/src/marketplace/libraries/LowLevelHypercertCaller.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(test): replace failing test assume boundaries with bound
  contracts/test/foundry/marketplace/BatchMakerOrders.t.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(doc): document bug fix and additional changes
  contracts/audits/marketplace/2024_05_29_signature_bug.md
Due: prettier --write

fix(api): upload endpoints alpha.8
  sdk/package.json
  sdk/src/storage.ts
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(import): import path api.ts
  sdk/package.json
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(type): simpler api store typings
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/storage.ts
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(feat): add query fraction by id helper
  sdk/package.json
  sdk/src/indexer.ts
  sdk/src/indexer/gql/gql.ts
  sdk/src/indexer/gql/graphql.ts
  sdk/src/indexer/queries/fractions.graphql
  sdk/src/types/indexer.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(pnpm): frozen-lockfile error
  pnpm-lock.yaml
Due: none

fix(gha): dependency hell
  .github/workflows/ci-default.yml
  .github/workflows/deploy-cors-proxy.yml
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
  contracts/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(marketplace): sepolia release prep sdk v2 alpha
  contracts/package.json
  contracts/src/deployments/deployment-marketplace-sepolia.json
  contracts/src/deployments/index.ts
  contracts/tasks/deploy-marketplace.ts
  contracts/tasks/index.ts
  contracts/tasks/propose-owner.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(pnpm): gha pnpm version
  .github/workflows/ci-default.yml
Due: none

chore(gha): bypass frozen lockfile
  .github/workflows/ci-default.yml
Due: none

chore(gha): update turbo and pnpm everywhere
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore(gha): package managers
  .github/workflows/ci-default.yml
  cors-proxy/package.json
  docs/package.json
Due: prettier --write

chore(gha): disable defender rollout
  .github/workflows/deploy-defender.yml
Due: none

chore(gha): last yarn traces
  .github/workflows/deploy-graph.yml
  contracts/.husky/commit-msg
  contracts/.husky/pre-commit
  contracts/package.json
  cors-proxy/package.json
Due: prettier --write

chore(gha): fix turbo test
  cors-proxy/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore(gha): buidl test green local
  contracts/tasks/deploy-marketplace.ts
  graph/tests/.latest.json
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(update): contracts 2.0.0-alpha.0 in sdk
  pnpm-lock.yaml
  sdk/package.json
Due: prettier --write

feat(sdk): update api, graph, contracts
  .github/workflows/ci-default.yml
  sdk/codegen.yml
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/indexer/gql/gql.ts
  sdk/src/indexer/gql/graphql.ts
  sdk/src/indexer/queries/hypercerts.graphql
  sdk/src/storage.ts
  sdk/test/storage/storeAllowList.test.ts
  sdk/test/storage/storeMetadata.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(gha): declare pnpm corepack version once
  contracts/package.json
  cors-proxy/package.json
Due: prettier --write

chore(gha): enable corepack
  .github/workflows/ci-default.yml
  sdk/package.json
Due: prettier --write

fix(test): remove fork URL from simple contract test
  contracts/hardhat.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(gha): cleanup env vars
  .github/workflows/ci-default.yml
  docs/docs/developer/api/contracts/marketplace/TransferManager.md
  docs/docs/developer/api/contracts/marketplace/interfaces/IHypercert1155Token.md
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/ConfigurationError.md
  docs/docs/developer/api/sdk/classes/ContractError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/index.md
  docs/docs/developer/api/sdk/interfaces/CustomError.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/modules.md
Due: prettier --write

chore(gha): remove unused var from fe config
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(gha): replace mainnet rpc for fork testing
  contracts/foundry.toml
Due: none

chore(release): alpha.14
  sdk/package.json
Due: prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
