Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{md,json}": [
    "prettier --write --ignore-path .gitignore"
  ]
}

feat(turbo): only build step
  .github/workflows/ci-default.yml
Due: none

feat(turbo): rollup for contracts
  contracts/.gitignore
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/tsconfig.build.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(turbo): types in src dir contracts
  contracts/src/index.ts
  contracts/tsconfig.build.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: better handling for missing properties
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

fix: contracts build
  README.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/upgrade.md
  frontend/package.json
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: remove contracts/ from monorepo (#561)
  README.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/upgrade.md
  frontend/package.json
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: accept querystrings via window.location.hash in hypercertfetcher
  .github/workflows/ci-default.yml
  frontend/components/hypercert-fetcher.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: SupabaseQuery limit, orderBy
  frontend/components/supabase-query.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: accept querystrings via window.location.hash in hypercertfetcher (#559)
  .github/workflows/ci-default.yml
  frontend/components/hypercert-fetcher.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: SupabaseQuery limit, orderBy (#564)
  frontend/components/supabase-query.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Plasmic code component help text
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Plasmic code component help text (#565)
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: adding SENTRY_AUTH_TOKEN to environment for CI/CD
  .github/workflows/ci-default.yml
Due: none

fix: adding SENTRY_AUTH_TOKEN to environment for CI/CD (#566)
  .github/workflows/ci-default.yml
Due: none

fix: Add tooltip styling
  frontend/components/widgets.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: don't hide sourcemaps
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Add tooltip styling (#567)
  frontend/components/widgets.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: don't hide sourcemaps (#568)
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(turbo): rollup build of contracts package
  contracts/.gitignore
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/tsconfig.build.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): add client, minting and validator
  docs/docs/developer/quickstart-javascript.md
  sdk/package.json
  sdk/src/client.ts
  sdk/src/config.ts
  sdk/src/errors.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/validator/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: remove SENTRY_AUTH_TOKEN from testing workflow
  .github/workflows/ci-default.yml
Due: none

fix: remove SENTRY_AUTH_TOKEN from testing workflow (#570)
  .github/workflows/ci-default.yml
Due: none

feat: Markdown widget registered into Plasmic
  frontend/components/widgets.tsx
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: Markdown widget registered into Plasmic (#571)
  frontend/components/widgets.tsx
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: rebase (#572)
  .github/workflows/ci-default.yml
  README.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/upgrade.md
  frontend/components/hypercert-fetcher.tsx
  frontend/components/supabase-query.tsx
  frontend/components/widgets.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/plasmic-init.ts
  package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: handling empty properties in the metadata (#558)
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/user_claims.py
Due: none

chore(yarn): updated yarn lock
  yarn.lock
Due: none

fix(test): nohoist graph packages
  graph/package.json
  graph/tests/.latest.json
  package.json
Due: prettier --write --ignore-path .gitignore

feat(client): client class, doc and tests
  sdk/src/client.ts
  sdk/src/config.ts
  sdk/src/index.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/test/client.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): refactor types and client setup
  sdk/.gitignore
  sdk/src/client.ts
  sdk/src/config.ts
  sdk/src/constants.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/types/claimdata.d.ts
  sdk/src/types/client.ts
  sdk/src/types/errors.ts
  sdk/src/types/hypercerts.ts
  sdk/src/types/metadata.d.ts
  sdk/src/utils/errors.ts
  sdk/src/validator/index.ts
  sdk/test/client.test.ts
  sdk/test/operator.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/test/utils/errors.test.ts
  sdk/test/utils/formatter.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(storage): basic storage setup testing
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/test/client.test.ts
  sdk/test/setup-tests.ts
  sdk/test/storage.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): basic setup happy and unhappy tests
  sdk/src/client.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/test/storage.test.ts
  sdk/test/utils/formatter.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: better analysis of collection and collision stats
  utils/supabase/claim_stats.py
Due: none

feat: better analysis of collection and collision stats (#584)
  utils/supabase/claim_stats.py
Due: none

feat(sdk): mock provider, testing, interface tweak
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/test/client.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/helpers.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/test/storage.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: enable source maps in production
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: enable source maps in production (#586)
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(test): mock and intercept storage calls
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/storage.ts
  sdk/test/helpers.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/storage/web3.storage.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(build): sdk build steps cleanup
  sdk/package.json
Due: prettier --write --ignore-path .gitignore
