Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

fix(errors): fixed error types and added tests
  sdk/src/evaluations/eas.ts
  sdk/src/types/errors.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/types/errors.test.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(types): cleanup error types
  sdk/src/types/errors.ts
  sdk/src/utils/errors.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(comments): fix PR comments
  frontend/components/burn-fraction-button.tsx
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/hypercert-create.tsx
  frontend/components/zuzalu-purchase.tsx
  frontend/hooks/checkWriteable.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

chore(wip): merge provider, signer, cleanup envs
  frontend/next.config.js
  sdk/.env.template
  sdk/src/client.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/evaluations/evaluator.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: docusaurus mermaid theme colors
  docs/docusaurus.config.js
  docs/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: docusaurus mermaid theme colors (#903)
  docs/docusaurus.config.js
  docs/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Improve generic hypercerts treemap ux
  frontend/components/generic-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Add array of wallets (#889)
  .github/workflows/ci-default.yml
  frontend/.env.local.example
  frontend/components/dapp-context.tsx
  frontend/lib/config.ts
  frontend/next.config.js
  vendor/observabletreemap/c857fa5c110524ee@515.js
  vendor/observabletreemap/files/af40c6fdb79581388488f364d8ef0bab6388ba6c45ccae8b8e691939048c2de72f421898ecbe772c1ed529a8c75acc2cf02ec1ab6d3d53014273688cfffaef6c.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(fe): tests and types
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/lib/parsing.ts
  frontend/package.json
  frontend/pages/[[...catchall]].tsx
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(page): unused import
  frontend/pages/[[...catchall]].tsx
  graph/tests/.latest.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Update Wagmi + RainbowKit, check on writeable (#897)
  frontend/components/burn-fraction-button.tsx
  frontend/components/claim-all-fractions-button.tsx
  frontend/components/connect-wallet.tsx
  frontend/components/dapp-context.tsx
  frontend/components/hypercert-create.tsx
  frontend/components/zuzalu-purchase.tsx
  frontend/hooks/account.ts
  frontend/hooks/burnFraction.ts
  frontend/hooks/checkWriteable.ts
  frontend/hooks/hypercerts-client.ts
  frontend/hooks/mergeFractionUnits.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/splitClaimUnits.ts
  frontend/lib/formatting.ts
  frontend/lib/hypercert.test.ts
  frontend/lib/hypercert.ts
  frontend/lib/parsing.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/[[...catchall]].tsx
  frontend/tsconfig.json
  graph/tests/.latest.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Pulling data from github graphQL (#761)
  os-observer/.gitignore
  os-observer/flake.lock
  os-observer/flake.nix
  os-observer/src/actions/github/fetch/issueClosed.ts
  os-observer/src/actions/github/fetch/issueFiled.ts
  os-observer/src/actions/github/fetchGithubIssues/index.ts
  os-observer/src/actions/github/fetchIssues/index.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForOrg.ts
  os-observer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  os-observer/src/actions/github/upsertOrg/index.ts
  os-observer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
  os-observer/src/cli.ts
  os-observer/src/config.ts
  os-observer/src/events/github.ts
  os-observer/src/fetchEvents.ts
  os-observer/src/index.ts
  os-observer/src/utils/getPath.ts
  os-observer/src/utils/github/getGithubPointer.ts
  os-observer/src/utils/github/getOrgRepos.ts
  os-observer/src/utils/github/getRepoIusses.ts
  os-observer/src/utils/github/getRepositoryCreatedAt.ts
  os-observer/src/utils/github/graphQLClient.ts
  os-observer/src/utils/github/unpaginate.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Support the use of overriden sdk config
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Create bootstrap.sh
  harness/bootstrap.sh
Due: none

Include a build for mockipfs
  docker/mockipfs.Dockerfile
Due: none

setup docker
  docker/bootstrap.sh
  docker/compose.yaml
Due: none

docker WIP
  .dockerignore
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/deploy.ts
  contracts/tasks/index.ts
  contracts/tasks/transfer-from-test-account.ts
  docker/after_graph.sh
  docker/after_localchain.sh
  docker/compose.yaml
  docker/frontend.sh
  docker/graph.Dockerfile
  docker/mockipfs.Dockerfile
  docker/nginx/graph_nginx.conf
  docker/postgres.init.d/add-databases.sh
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
  graph/package.json
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Clean up transfer checks
  contracts/tasks/transfer-from-test-account.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

docker: cleanup and optimization
  docker/README.md
  docker/after_graph.sh
  docker/after_localchain.sh
  docker/base.Dockerfile
  docker/base.env
  docker/compose.yaml
  docker/graph.Dockerfile
Due: prettier --write

Further clean up
  .gitignore
  README.md
  docker/after_graph.sh
  docker/base.Dockerfile
  docker/compose.yaml
  docker/frontend.sh
  docker/graph.Dockerfile
  docker/nginx/graph_nginx.conf
  docker/postgres.init.d/add-databases.sh
  package.json
Due: prettier --write

fix test
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

small clean up
  docker/nginx/graph_nginx.conf
Due: none

self consistency is important :D
  docker/postgres.init.d/add_databases.sh
Due: none

support setting graph url and namespace
  docker/after_localchain.sh
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/.graphclientrc.yml
  sdk/src/constants.ts
  sdk/src/indexer.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Rename package script to be a little more verbose
  docker/after_graph.sh
  graph/package.json
Due: prettier --write

CR update
  contracts/tasks/deploy.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

remove confusing scripts from graph package.json
  docker/after_graph.sh
  graph/package.json
Due: prettier --write

change way we do graph url override
  sdk/.graphclient/index.ts
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/.graphclientrc.yml
  sdk/src/indexer.ts
  sdk/src/types/client.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

change way we do graph url override
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix docker based on graph url override
  docker/after_graph.sh
  docker/after_localchain.sh
  docker/base.env
  docker/compose.yaml
Due: none

update readme
  README.md
Due: prettier --write

Support changes to graphUrl config
  sdk/src/constants.ts
  sdk/src/types/errors.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Improve generic hypercerts treemap ux (#906)
  frontend/components/generic-hypercert-treemap.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix removed chainName
  sdk/.graphclient/index.ts
  sdk/.graphclientrc.yml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

End to end test harness (#855)
  .dockerignore
  README.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/deploy.ts
  contracts/tasks/index.ts
  contracts/tasks/transfer-from-test-account.ts
  docker/README.md
  docker/after_graph.sh
  docker/after_localchain.sh
  docker/base.Dockerfile
  docker/base.env
  docker/compose.yaml
  docker/frontend.sh
  docker/graph.Dockerfile
  docker/nginx/graph_nginx.conf
  docker/postgres.init.d/add_databases.sh
  frontend/hooks/hypercerts-client.ts
  frontend/lib/config.ts
  graph/package.json
  package.json
  sdk/.graphclient/index.ts
  sdk/.graphclient/sources/Hypercerts/types.ts
  sdk/.graphclientrc.yml
  sdk/src/constants.ts
  sdk/src/indexer.ts
  sdk/src/types/client.ts
  sdk/src/types/errors.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write
