Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(chore): delete goerli from SDK
  sdk/.env.template
  sdk/README.md
  sdk/RELEASE.md
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/evaluator.test.ts
  sdk/test/utils/config.test.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(chore): delete goerli from defender config
  defender/src/networks.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(chore): delete goerli from graph
  graph/networks.json
  graph/package.json
Due: prettier --write

(chore): delete goerli from frontend
  frontend/.env.local.example
  frontend/README.md
  frontend/components/dapp-context.tsx
  frontend/components/dapp-state.tsx
  frontend/lib/formatting.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(chore): update tests for goerli deprecation
  contracts/hardhat.config.ts
  graph/tests/.latest.json
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(deploy): sepolia with verification
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/deployments/deployment-marketplace-goerli.json
  contracts/src/deployments/deployment-marketplace-hardhat.json
  contracts/src/deployments/deployment-marketplace-sepolia.json
  contracts/tasks/deploy-marketplace.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(report): add audit report and init comments
  contracts/audits/marketplace/Hypercerts_v02.md
  contracts/audits/marketplace/Hypercerts_v02.pdf
Due: prettier --write

chore(deploy): add looksrare registry and sep weth
  contracts/hardhat.config.ts
  contracts/src/deployments/deployment-marketplace-sepolia.json
  contracts/src/deployments/index.ts
  contracts/src/index.ts
  contracts/src/marketplace/libraries/RoyaltyFeeRegistry.sol
  contracts/tasks/deploy-marketplace.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(audit): additional findings
  contracts/audits/marketplace/Hypercerts_v02.md
  contracts/src/marketplace/executionStrategies/StrategyHypercertFractionOffer.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(apis): refactor to use hypercerts APIs
  pnpm-lock.yaml
  sdk/RELEASE.md
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/indexer/gql/graphql.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/src/utils/allowlist.ts
  sdk/src/utils/apis.ts
  sdk/src/utils/config.ts
  sdk/src/utils/fetchers.ts
  sdk/src/utils/index.ts
  sdk/src/validator/index.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/storage.test.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/storage/storeAllowList.test.ts
  sdk/test/storage/storeMetadata.test.ts
  sdk/test/storage/web3.storage.test.ts
  sdk/test/utils/config.test.ts
  sdk/test/utils/errors.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(api): migrate to railway
  frontend/package.json
  pnpm-lock.yaml
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(build): update viem and fe client config
  frontend/hooks/hypercerts-client.ts
  pnpm-lock.yaml
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): sdk 1.1.0 release and bump fe
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

(chore): update changelog
  sdk/RELEASE.md
Due: prettier --write

fix(ci): linting
  contracts/package.json
  contracts/src/marketplace/LooksRareProtocol.sol
  contracts/src/marketplace/libraries/LowLevelHypercertCaller.sol
  contracts/src/marketplace/libraries/OrderStructs.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
  contracts/test/foundry/marketplace/utils/MerkleWithPosition.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(v02): final mitigation findings
  contracts/audits/marketplace/Hypercerts_v01-1.md
  contracts/audits/marketplace/Hypercerts_v02.md
  contracts/src/marketplace/LooksRareProtocol.sol
  contracts/src/marketplace/helpers/ProtocolHelpers.sol
  contracts/src/protocol/SemiFungible1155.sol
  contracts/test/foundry/protocol/SemiFungible1155.t.sol
  docs/docs/developer/api/contracts/marketplace/libraries/RoyaltyFeeRegistry.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(lint): lint errors and registry sol version
  contracts/src/marketplace/TransferSelectorNFT.sol
  contracts/src/marketplace/libraries/LowLevelHypercertCaller.sol
  contracts/src/marketplace/libraries/OrderStructs.sol
  contracts/src/marketplace/libraries/RoyaltyFeeRegistry.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
  contracts/test/foundry/marketplace/executionStrategies/HypercertFractionOffers.t.sol
  contracts/test/foundry/marketplace/utils/MerkleWithPosition.sol
  docs/docs/developer/api/contracts/marketplace/LooksRareProtocol.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): fe sdk dep
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(lint): audit v2 comments linting
  contracts/audits/marketplace/Hypercerts_v02.md
Due: prettier --write

chore(bump): migrate to viem v2
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

Create announcements on github pages
  docs/docs/announcements.md
Due: prettier --write

add announcements to sidebars.js
  docs/sidebars.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

add announcements to the navbar
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

remove announcements from sidebar
  docs/sidebars.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(parse): add initial parser
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/storage.ts
  sdk/src/utils/index.ts
  sdk/src/utils/txParser.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(marketplace): release sepolia deploy
  contracts/RELEASE.md
  contracts/package.json
  contracts/src/deployments/deployments-protocol.json
  contracts/src/deployments/index.ts
  contracts/src/index.ts
  defender/src/auto-tasks/on-allowlist-created.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

feat(sdk): add all deployments to SDK
  defender/src/auto-tasks/on-allowlist-created.ts
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): release notes and 1.4.0
  sdk/RELEASE.md
  sdk/package.json
Due: prettier --write

fix(type): response data type
  sdk/src/storage.ts
  sdk/src/utils/apis.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chroe(bump): 1.4.1
  sdk/package.json
Due: prettier --write

fix(test): mock storage return types
  graph/tests/.latest.json
  sdk/src/client.ts
  sdk/test/storage/storeAllowList.test.ts
  sdk/test/storage/storeMetadata.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): fe sdk to 1.4.1
  frontend/hooks/hypercerts-client.ts
  frontend/package.json
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

chore(bump): fe viem to 1.21.4
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/ConfigurationError.md
  docs/docs/developer/api/sdk/classes/ContractError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/interfaces/CustomError.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/modules.md
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(fix): docs sidebar
  docs/docs/developer/api/sdk/classes/ClientError.md
  docs/docs/developer/api/sdk/classes/ConfigurationError.md
  docs/docs/developer/api/sdk/classes/ContractError.md
  docs/docs/developer/api/sdk/classes/FetchError.md
  docs/docs/developer/api/sdk/classes/HypercertClient.md
  docs/docs/developer/api/sdk/classes/HypercertsStorage.md
  docs/docs/developer/api/sdk/classes/InvalidOrMissingError.md
  docs/docs/developer/api/sdk/classes/MalformedDataError.md
  docs/docs/developer/api/sdk/classes/MintingError.md
  docs/docs/developer/api/sdk/classes/StorageError.md
  docs/docs/developer/api/sdk/classes/UnknownSchemaError.md
  docs/docs/developer/api/sdk/classes/UnsupportedChainError.md
  docs/docs/developer/api/sdk/interfaces/CustomError.md
  docs/docs/developer/api/sdk/interfaces/DuplicateEvaluation.md
  docs/docs/developer/api/sdk/interfaces/EASEvaluation.md
  docs/docs/developer/api/sdk/interfaces/HypercertClaimdata.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientMethods.md
  docs/docs/developer/api/sdk/interfaces/HypercertClientState.md
  docs/docs/developer/api/sdk/interfaces/HypercertEvaluationSchema.md
  docs/docs/developer/api/sdk/interfaces/HypercertIndexerInterface.md
  docs/docs/developer/api/sdk/interfaces/HypercertMetadata.md
  docs/docs/developer/api/sdk/interfaces/HypercertPointer.md
  docs/docs/developer/api/sdk/interfaces/HypercertStorageInterface.md
  docs/docs/developer/api/sdk/interfaces/IPFSEvaluation.md
  docs/docs/developer/api/sdk/interfaces/SimpleTextEvaluation.md
  docs/docs/developer/api/sdk/modules.md
  docs/versioned_sidebars/version-1.4.1-sidebars.json
Due: prettier --write

(fix): update defender deploy scripts to use contracts package
  defender/package.json
  defender/src/networks.ts
  defender/src/rollout.ts
  defender/src/update.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

(fix): ci node version
  .github/workflows/deploy-defender.yml
Due: none

fix(pkg): fix esm export
  contracts/package.json
  contracts/rollup.config.mjs
  sdk/package.json
  sdk/rollup.config.mjs
Due: prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
