Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{md,json}": [
    "prettier --write --ignore-path .gitignore"
  ]
}

fix(collisions): handle additional collision cases
  utils/supabase/claim_stats.py
Due: none

feat: add oss projects to database
  utils/os-observer/.env.example
  utils/os-observer/.gitignore
  utils/os-observer/data/projects.json
  utils/os-observer/src/__init__.py
  utils/os-observer/src/database.py
  utils/os-observer/src/validate_github_org.py
Due: prettier --write --ignore-path .gitignore

docs: readme and requirements
  utils/os-observer/README.md
  utils/os-observer/requirements.txt
Due: prettier --write --ignore-path .gitignore

chore: json and yaml converters
  utils/optimism/data/optimism_project_data.yaml
  utils/optimism/data/yaml_convert.py
Due: none

fix(test): minting allowlist tests
  sdk/src/client.ts
  sdk/src/types/hypercerts.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/helpers.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): integrate batch allowlist in FE
  frontend/components/claim-all-fractions-button.tsx
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/hooks/mintFractionAllowlistBatchSDK.ts
  frontend/lib/verify-fraction-claim.ts
  sdk/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(split): split mock test setup and bugfix
  sdk/src/client.ts
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(split_merge): add split merge test and bugfix
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(split_merge): add split and merge hooks FE
  frontend/hooks/mergeFractionUnitsSDK.ts
  frontend/hooks/splitClaimUnitsSDK.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: turbo caching
  .github/workflows/ci-default.yml
  package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

fix: turbo caching (#622)
  .github/workflows/ci-default.yml
  package.json
  turbo.json
Due: prettier --write --ignore-path .gitignore

major updates
  utils/os-observer/.gitignore
  utils/os-observer/data/projects.json
  utils/os-observer/data/schema.sql
  utils/os-observer/src/__init__.py
  utils/os-observer/src/database.py
  utils/os-observer/src/github_events.py
  utils/os-observer/src/graphql_queries.py
  utils/os-observer/src/zerion_scraper.py
Due: prettier --write --ignore-path .gitignore

feat: supabase-to-chart WIP
  frontend/components/supabase-query.tsx
  frontend/components/supabase-to-chart.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: supabase-to-chart WIP (#624)
  frontend/components/supabase-query.tsx
  frontend/components/supabase-to-chart.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: rebase due to failed build (#625)
  .github/workflows/ci-default.yml
  frontend/components/supabase-query.tsx
  frontend/components/supabase-to-chart.tsx
  frontend/plasmic-init.ts
  package.json
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

populating the initial os-explorer database (#623)
  utils/optimism/data/optimism_project_data.yaml
  utils/optimism/data/yaml_convert.py
  utils/os-observer/.env.example
  utils/os-observer/.gitignore
  utils/os-observer/README.md
  utils/os-observer/data/projects.json
  utils/os-observer/data/schema.sql
  utils/os-observer/requirements.txt
  utils/os-observer/src/database.py
  utils/os-observer/src/github_events.py
  utils/os-observer/src/graphql_queries.py
  utils/os-observer/src/validate_github_org.py
  utils/os-observer/src/zerion_scraper.py
Due: prettier --write --ignore-path .gitignore

chore: update readme and trigger commands
  utils/os-observer/README.md
  utils/os-observer/src/github_events.py
  utils/os-observer/src/graphql_queries.py
Due: prettier --write --ignore-path .gitignore

chore: packaging
  utils/os-observer/.gitignore
  utils/os-observer/src/__init__.py
  utils/os-observer/src/database.py
  utils/os-observer/src/github_events.py
Due: none

chore: update readme and trigger commands (#626)
  utils/os-observer/.gitignore
  utils/os-observer/README.md
  utils/os-observer/src/__init__.py
  utils/os-observer/src/database.py
  utils/os-observer/src/github_events.py
  utils/os-observer/src/graphql_queries.py
Due: prettier --write --ignore-path .gitignore

feat: collect RPGF outflows
  utils/os-observer/src/funding_rounds.py
  utils/os-observer/src/zerion_scraper.py
Due: none

fix: modularize block explorer calls
  utils/os-observer/.env.example
  utils/os-observer/src/funding_rounds.py
  utils/os-observer/src/github_events.py
Due: none

feat: collect RPGF outflows (#628)
  utils/os-observer/.env.example
  utils/os-observer/src/funding_rounds.py
  utils/os-observer/src/github_events.py
  utils/os-observer/src/zerion_scraper.py
Due: none

feat: d3 treemap viz
  utils/os-observer/app.py
  utils/os-observer/assets/os-observer.png
  utils/os-observer/assets/style.css
Due: none

fix: update project description
  utils/os-observer/app.py
Due: none

feat: d3 treemap viz (#629)
  utils/os-observer/app.py
  utils/os-observer/assets/os-observer.png
  utils/os-observer/assets/style.css
Due: none

feat: add metrics above tree map
  utils/os-observer/app.py
  utils/os-observer/assets/style.css
Due: none

feat: add metrics above tree map (#630)
  utils/os-observer/app.py
  utils/os-observer/assets/style.css
Due: none

feat: extract gitcoin projects from allo protocol
  utils/os-observer/.env.example
  utils/os-observer/data/gitcoin-allo/ai_description.py
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
Due: none

fix: remove testing setup
  utils/os-observer/data/gitcoin-allo/ai_description.py
Due: none

fix: reduced token limits
  utils/os-observer/data/gitcoin-allo/ai_description.py
Due: none

chore: update gitignore
  utils/os-observer/.gitignore
Due: none

feat: add basic income indicator to dashboard
  utils/os-observer/app.py
Due: none

feat: extract gitcoin projects from allo protocol (#639)
  utils/os-observer/.env.example
  utils/os-observer/.gitignore
  utils/os-observer/app.py
  utils/os-observer/data/gitcoin-allo/ai_description.py
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
Due: none

refactor + add allo data
  utils/os-observer/.gitignore
  utils/os-observer/data/projects.json
  utils/os-observer/src/database.py
  utils/os-observer/src/events/__init__.py
  utils/os-observer/src/events/github_events.py
  utils/os-observer/src/events/graphql_queries.py
  utils/os-observer/src/events/zerion_scraper.py
  utils/os-observer/src/funding_rounds.py
  utils/os-observer/src/validate_eth_address.py
  utils/os-observer/src/validate_github_org.py
Due: prettier --write --ignore-path .gitignore

feat: add gitcoin funding round data
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
  utils/os-observer/src/database.py
Due: none

chore: add todo
  utils/os-observer/src/funding_rounds.py
Due: none

fix: csv export formatting
  utils/os-observer/data/gitcoin-allo/get_allo_data.py
Due: none

chore: add funding round schema
  utils/os-observer/data/schema.sql
Due: none
