Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

chore(dist): clean and remap output contracts
  contracts/package.json
  contracts/src/index.ts
  contracts/src/protocol/HypercertTrader.sol
  contracts/src/protocol/interfaces/IHypercertTrader.sol
  contracts/tsconfig.build.json
  contracts/tsconfig.json
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(clean): last tests
  contracts/test/foundry/protocol/HypercertTrader.admin.t.sol
  contracts/test/foundry/protocol/HypercertTrader.offers.t.sol
  contracts/test/foundry/protocol/HypercertTrader.sales.t.sol
  docs/docs/developer/api/contracts/AllowlistMinter.md
  docs/docs/developer/api/contracts/HypercertMinter.md
  docs/docs/developer/api/contracts/SemiFungible1155.md
  docs/docs/developer/api/contracts/interfaces/IAllowlist.md
  docs/docs/developer/api/contracts/interfaces/IHypercertToken.md
  docs/docs/developer/api/contracts/libs/Errors.md
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(build): ignore cors-proxy type errors
  cors-proxy/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): add rpc env vars for fork testing
  .github/workflows/ci-default.yml
  graph/tests/.latest.json
Due: prettier --write

chore(license): dual licensing contracts + repo
  LICENSE-APACHE
  LICENSE-MIT
  contracts/LICENSE
  contracts/LICENSE-APACHE
  contracts/LICENSE-MIT
Due: none

chore(license): dual licensing contracts + repo (#1141)
  LICENSE-APACHE
  LICENSE-MIT
  contracts/LICENSE
  contracts/LICENSE-APACHE
  contracts/LICENSE-MIT
Due: none

feat(tranfer): transfer single hypercert fraction
  contracts/.solhint.json
  contracts/remappings.txt
  contracts/src/protocol/AllowlistMinter.sol
  contracts/src/protocol/HypercertMinter.sol
  contracts/src/protocol/SemiFungible1155.sol
  contracts/src/protocol/interfaces/IAllowlist.sol
  contracts/src/protocol/interfaces/IHypercertToken.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
  contracts/test/mock/MockHypercertMinterUUPS.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(transfer): batch transfers and across collections
  contracts/src/marketplace/TransferManager.sol
  contracts/src/marketplace/interfaces/ITransferManager.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(transfer): reduce cyclomatic complexity
  contracts/src/marketplace/TransferManager.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(offers): hypercert offer signatures
  contracts/src/protocol/HypercertMinter.sol
  contracts/test/foundry/marketplace/ProtocolBase.t.sol
  contracts/test/foundry/marketplace/SignaturesERC1271WalletForHypercert.t.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(transfer): standard txs tests hypercerts
  contracts/src/marketplace/LooksRareProtocol.sol
  contracts/src/marketplace/TransferSelectorNFT.sol
  contracts/src/protocol/HypercertMinter.sol
  contracts/test/foundry/marketplace/StandardTransactionsHypercerts.t.sol
  contracts/test/foundry/marketplace/StrategyManager.t.sol
  contracts/test/foundry/marketplace/TransferManager.t.sol
  contracts/test/foundry/marketplace/utils/MockOrderGenerator.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): only run on every push
  .github/workflows/ci-default.yml
Due: none

chore: copy commits from older branch
  cors-proxy/src/index.ts
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore: update end-2-end workflow to using pnpm
  .github/workflows/e2e-tests.yml
Due: none

chore: fix build script
  .github/workflows/e2e-tests.yml
Due: none

chore: remove redundant blueprint files that might be causing e2e test failure in ci
  frontend/components/blueprint-create.tsx
  frontend/components/contribution-blueprint-create.tsx
  frontend/hooks/createBlueprintInRegistry.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore: use docker-compose instead of docker compose in ci script
  package.json
Due: prettier --write

feat(config): updated sdk init config
  sdk/src/client.ts
  sdk/src/constants.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/index.ts
  sdk/src/indexer.ts
  sdk/src/storage.ts
  sdk/src/types/client.ts
  sdk/src/types/index.ts
  sdk/src/utils/config.ts
  sdk/src/utils/errors.ts
  sdk/src/utils/formatter.ts
  sdk/src/utils/resolvers.ts
  sdk/src/validator/index.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/utils/config.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

bugfix: trying to get intergration tests working again
  .gitignore
  contracts/package.json
  contracts/tsconfig.build.json
  docker/after_localchain.sh
  docker/base.Dockerfile
  docker/compose.yaml
  docker/e2e.env
  docker/install.sh
  pnpm-lock.yaml
Due: prettier --write

chore: update workflow file
  .github/workflows/e2e-tests.yml
Due: none

chore: update wrangler version
  cors-proxy/package.json
Due: prettier --write

chore: add wrapper components for split and merge functionality
  frontend/components/merge-all-claim-fractions-button.tsx
  frontend/components/split-fraction-button.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore: add wrapper components for split and merge functionality (#1148)
  frontend/components/merge-all-claim-fractions-button.tsx
  frontend/components/split-fraction-button.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat: add merge all my fractions button logic
  frontend/components/merge-all-claim-fractions-button.tsx
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(tests): fix all tests to use updated init
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/client.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(batch): add batch transfers to graph
  .lintstagedrc
  graph/src/hypercert-minter.ts
  graph/subgraph.yaml
  graph/tests/.latest.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(test): uncommented all SDK tests
  sdk/src/client.ts
  sdk/src/types/client.ts
  sdk/src/utils/config.ts
  sdk/test/client.test.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/test/evaluations/easEvaluator.test.ts
  sdk/test/storage/nft.storage.test.ts
  sdk/test/storage/web3.storage.test.ts
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(log): remove result logging
  sdk/test/utils/config.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

feat(deploy): deploy to testnets
  contracts/.env.example
  contracts/foundry.toml
  contracts/package.json
  contracts/scripts/deployment/Deployment.s.sol
  contracts/scripts/deployment/ProtocolFeeRecipientDeployment.s.sol
  contracts/src/deployments.json
  contracts/src/marketplace/CreatorFeeManagerWithRebates.sol
  contracts/src/marketplace/ProtocolFeeRecipient.sol
  contracts/tasks/deploy.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(build): hardhat build
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/src/marketplace/CreatorFeeManagerWithRoyalties.sol
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

add logic to split fractions button
  frontend/components/split-fraction-button.tsx
  frontend/hooks/fractions.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(gha): updated env vars
  .github/workflows/ci-default.yml
  contracts/.env.example
Due: none

chore(pnpm): updated lock file
  pnpm-lock.yaml
Due: none

fix(build): build error, replaced util with viem
  frontend/lib/parse-blockchain-error.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write
