Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-path .lintstagedignore",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

update sdk isProvider and isSigner checks
  sdk/src/client.ts
  sdk/src/evaluations/eas.ts
  sdk/src/evaluations/index.ts
  sdk/src/utils/config.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix checkWriteable.ts for multi-chain support and add testnet only wrapper
  frontend/components/dapp-context.tsx
  frontend/components/testnet-only.tsx
  frontend/hooks/checkWriteable.ts
  frontend/lib/config.ts
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(graph): update matchstick dependency version
  graph/package.json
  yarn.lock
Due: prettier --write

fix(tests): fix tests in SDK
  sdk/global.d.ts
  sdk/jest.config.ts
  sdk/src/client.ts
  sdk/tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

v0.8.4
  sdk/package.json
Due: prettier --write

fix(ws): put fe back in yarn workspace
  frontend/package.json
  package.json
  yarn.lock
Due: prettier --write

add sdk back to workspaces
  package.json
  yarn.lock
Due: prettier --write

fix(build): add html-webpack-plugin
  docs/package.json
  yarn.lock
Due: prettier --write

fix(defender): workspace package name
  defender/package.json
Due: prettier --write

chore(pnpm): migrate to pnpm
  .npmrc
  contracts/package.json
  cors-proxy/package.json
  defender/package.json
  docs/package.json
  frontend/components/blueprint-create.tsx
  frontend/components/contribution-blueprint-create.tsx
  frontend/hooks/checkWriteable.ts
  frontend/next.config.mjs
  frontend/package.json
  frontend/tsconfig.json
  graph/package.json
  graph/tests/.latest.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/yarn.lock
  turbo.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(bump): sdk version bump
  sdk/package.json
Due: prettier --write

chore(pnpm): fix build errors
  contracts/package.json
  contracts/tsconfig.cjs.json
  frontend/package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/rollup.config.js
  sdk/src/storage.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(build): remove faulty export
  contracts/package.json
  contracts/src/index.ts
  contracts/tsconfig.json
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(build): default export to contracts
  contracts/package.json
  contracts/src/index.ts
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(npm): reinstate factory export
  contracts/package.json
  contracts/src/index.ts
  package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/client.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/split.merge.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(release): contracts 0.8.3
  contracts/package.json
  contracts/src/index.ts
  pnpm-lock.yaml
  sdk/.graphclient/index.ts
  sdk/jest.config.ts
  sdk/package.json
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/minting.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(release): contracts 0.8.5
  .npmrc
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/rollup.config.mjs
  contracts/src/index.ts
  contracts/tasks/deploy.ts
  contracts/tasks/upgrade.ts
  contracts/test/HypercertMinter.test.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.cjs.json
  contracts/tsconfig.esm.json
  contracts/tsconfig.json
  pnpm-lock.yaml
  sdk/jest.config.ts
  sdk/package.json
  sdk/src/client.ts
  sdk/test/client/allowlist.minting.test.ts
  sdk/test/client/burn.test.ts
  sdk/test/client/minting.test.ts
  sdk/test/client/split.merge.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(release): contract 0.8.6
  contracts/package.json
  pnpm-lock.yaml
  sdk/.graphclient/index.ts
  sdk/jest.config.ts
  sdk/package.json
  sdk/src/types/indexer.ts
  sdk/src/validator/index.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(release): sdk 0.8.6 - fixed packages
  pnpm-lock.yaml
  sdk/jest.config.ts
  sdk/package.json
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore(bump): version bump
  sdk/package.json
Due: prettier --write

fix(build): transpile SDK in NextJS app
  frontend/next.config.mjs
  pnpm-lock.yaml
Due: none

fix(build): update github workflow to use pnpm
  .github/workflows/ci-default.yml
Due: none

fix(build): install pnpm in github actions
  .github/workflows/ci-default.yml
Due: none

fix(build): update defender and graph deploy scripts
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
Due: none

fix(build): update defender and graph deploy scripts (#1121)
  .github/workflows/deploy-defender.yml
  .github/workflows/deploy-graph.yml
Due: none

fix(build): remove workspace config in root package.json
  package.json
Due: prettier --write

fix(build): remove workspace config in frontend package.json
  frontend/package.json
Due: prettier --write

Fix(build)/remove workspace config (#1122)
  frontend/package.json
  package.json
Due: prettier --write

Minor fixes and corrections
  contracts/src/hyperboards/HyperboardNFT.sol
  contracts/src/libs/Errors.sol
  graph/networks.json
  graph/tests/hyperboard-utils.ts
  graph/tests/hyperboard.test.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

chore: update hyperboard deployment script
  contracts/tasks/deploy.ts
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

Updated start block and config
  graph/networks.json
  graph/package.json
  graph/subgraph.yaml
Due: prettier --write

chore(npm): sdk to workspace to stop link:
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/package.json
Due: prettier --write

chore(npm): contracts in workspace, no link:
  contracts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(bump): 0.8.7
  contracts/package.json
Due: prettier --write

chore(bump): contracts 0.8.7 into sdk 0.8.8
  pnpm-lock.yaml
  sdk/package.json
Due: prettier --write

fix(ci): linting errors from updated ws
  contracts/.prettierrc.yml
  contracts/.solhint.json
  contracts/package.json
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/Bitshifting.t.sol
  contracts/test/foundry/HypercertMinter.batchminting.t.sol
  contracts/test/foundry/HypercertMinter.pausable.t.sol
  contracts/test/foundry/HypercertMinter.transfers.t.sol
  contracts/test/foundry/PerformanceTesting.t.sol
  contracts/test/foundry/SemiFungible1155.allowances.t.sol
  contracts/test/foundry/SemiFungible1155.burning.t.sol
  contracts/test/foundry/SemiFungible1155.minting.t.sol
  contracts/test/foundry/SemiFungible1155.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.units.sol
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --ignore-path .lintstagedignore, prettier --write

fix(doc): optimism chainId to 10 from 100
  docs/docs/developer/supported-networks.md
Due: prettier --write
