Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

added: minting urls generator
  utils/gitcoin/gitcoin-beta/minting_urls.py
Due: none

feat: all scripts added to workflow.sh
  utils/gitcoin/gitcoin-beta/workflow.sh
Due: none

update README.md
  utils/gitcoin/gitcoin-beta/README.md
Due: prettier --write

fix: local csv path for minting urls
  utils/gitcoin/gitcoin-beta/README.md
Due: prettier --write

update README.md (#686)
  utils/gitcoin/gitcoin-beta/README.md
Due: prettier --write

Make Prisma client work for Jasons weird linux
  utils/os-observer/flake.nix
Due: none

Add prisma schema copying Carls sql schema
  utils/os-observer/package.json
  utils/os-observer/prisma/migrations/20230519205134_copy_carls_schema/migration.sql
  utils/os-observer/prisma/migrations/migration_lock.toml
  utils/os-observer/prisma/schema.prisma
Due: prettier --write

feat: contributor can be set to ENS address
  utils/gitcoin/gitcoin-beta/get_ens.py
  utils/gitcoin/gitcoin-beta/get_grants_data.py
  utils/gitcoin/gitcoin-beta/requirements.txt
Due: none

fix: handle claims with missing metadata
  utils/supabase/claims_metadata_mapper.py
Due: none

feat: contributor can be set to ENS address (#695)
  utils/gitcoin/gitcoin-beta/get_ens.py
  utils/gitcoin/gitcoin-beta/get_grants_data.py
  utils/gitcoin/gitcoin-beta/requirements.txt
Due: none

fix: handle claims with missing metadata (#696)
  utils/supabase/claims_metadata_mapper.py
Due: none

feat: Add Zuzalu purchase form code component
  frontend/components/zuzalu-purchase.tsx
  frontend/plasmic-init.ts
  graph/generated/schema.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: Add Zuzalu purchase form code component (#701)
  frontend/components/zuzalu-purchase.tsx
  frontend/plasmic-init.ts
  graph/generated/schema.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: zuzalu MVP
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: zuzalu MVP (#705)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: destination address and chain for Zuzalu form
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: destination address and chain for Zuzalu form (#706)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: don't allow 0 hypercerts chosen for zuzalu form
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: don't allow 0 hypercerts chosen for zuzalu form (#707)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

change link to confirmation page
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

change link to confirmation page (#708)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

updating prices
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

updating zuzalu hypercert prices (#710)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: add total ETH value from Zuzalu form to Supabase
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

feat: add total ETH value from Zuzalu form to Supabase (#711)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: zuzalu bug
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix: zuzalu bug (#712)
  frontend/components/zuzalu-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix(supabase): fixed bug in hypercert serialization
  utils/supabase/claims_metadata_mapper.py
Due: none

feat(collisions): create more verbose log of collision cases
  utils/supabase/claim_stats.py
Due: none

feat: script for identifying and helping resolve duplicate gitcoin hypercerts
  utils/supabase/gtc_collisions.py
Due: none

fix: improve supabase support for gitcoin hypercert collisions (#718)
  utils/supabase/claim_stats.py
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/gtc_collisions.py
Due: none

refactor: scripts of populate the projects and events database
  utils/os-observer/src/database.py
  utils/os-observer/src/events/github_events.py
  utils/os-observer/src/validate_eth_address.py
Due: none

Attempt to setup typescript
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/src/index.ts
  utils/os-observer/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Configure typescript for development
  utils/os-observer/.gitignore
  utils/os-observer/package.json
  utils/os-observer/tsconfig.json
Due: prettier --write

Add prisma migration 'create_event_type_enmu'
  utils/os-observer/prisma/migrations/20230525162910_create_event_type_enum/migration.sql
Due: none

Add file forgotten in previous commit
  utils/os-observer/prisma/schema.prisma
Due: none

Add function to get pointer for an event type
  utils/os-observer/src/index.ts
  utils/os-observer/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Add prettier
  utils/os-observer/package-lock.json
  utils/os-observer/package.json
  utils/os-observer/src/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Rewrite migration history
  utils/os-observer/prisma/migrations/20230519205134_copy_carls_schema/migration.sql
  utils/os-observer/prisma/schema.prisma
Due: none

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
