Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{md,json}": [
    "prettier --write --ignore-path .gitignore"
  ]
}

Update gitcoin-round.md
  docs/docs/minting-guide/gitcoin-round.md
Due: prettier --write --ignore-path .gitignore

Update minting-guide-start.md
  docs/docs/minting-guide/minting-guide-start.md
Due: prettier --write --ignore-path .gitignore

Update step-by-step.md
  docs/docs/minting-guide/step-by-step.md
Due: prettier --write --ignore-path .gitignore

Update homeNavBoxes.js
  docs/src/components/homepage/homeNavBoxes.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Add files via upload
  docs/static/img/icons/hypercerts_logo_beige.png
  docs/static/img/icons/hypercerts_logo_green.png
  docs/static/img/icons/hypercerts_logo_red.png
  docs/static/img/icons/hypercerts_logo_yellow.png
Due: none

Updating gitcoin instructions and logos on index page (#413)
  docs/docs/minting-guide/gitcoin-round.md
  docs/docs/minting-guide/minting-guide-start.md
  docs/docs/minting-guide/step-by-step.md
  docs/src/components/homepage/homeNavBoxes.js
  docs/static/img/icons/hypercerts_logo_beige.png
  docs/static/img/icons/hypercerts_logo_green.png
  docs/static/img/icons/hypercerts_logo_red.png
  docs/static/img/icons/hypercerts_logo_yellow.png
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(mint): rebuild minting function
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/minting.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/operator/index.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/src/utils/provider.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(mint): added mint function and test
  graph/tests/.latest.json
  sdk/package.json
  sdk/src/constants.ts
  sdk/src/index.ts
  sdk/src/minting.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/operator/index.ts
  sdk/src/utils/provider.ts
  sdk/test/formatter.test.ts
  sdk/test/interface.test.ts
  sdk/test/operator.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/test/setup-tests.ts
  sdk/test/validator.test.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(build): contract abi
  sdk/src/index.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/resources/HypercertMinter.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix(doc): updated generated docs:
  sdk/RELEASE.md
  sdk/docs/classes/HypercertsStorage.md
  sdk/docs/interfaces/HypercertClaimdata.md
  sdk/docs/interfaces/HypercertMetadata.md
  sdk/docs/modules.md
  sdk/src/utils/resolvers.ts
  sdk/tsconfig.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore(release): release pkg update app
  frontend/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(release): sdk 0.0.30
  frontend/components/hypercert-create.tsx
  frontend/components/hypercert-fetcher.tsx
  frontend/package.json
  sdk/RELEASE.md
  sdk/package.json
  sdk/src/index.d.ts
  sdk/src/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore(optimism): fresh pkg and optimism test
  frontend/components/hypercert-create.tsx
  frontend/hooks/claims.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/lib/verify-fraction-claim.ts
  frontend/package.json
  sdk/RELEASE.md
  sdk/package.json
  sdk/src/global.d.ts
  sdk/src/index.d.ts
  sdk/src/index.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/utils/formatter.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: fix inconsistent checkbox visual state
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: fix inconsistent checkbox visual state (#418)
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: reuse existing hypercertsStorage
  frontend/hooks/claims.ts
  sdk/src/operator/hypercerts-storage.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: Add NEXT_PUBLIC_RPC_URL to env variables
  .github/workflows/ci-default.yml
  frontend/.env.local.example
  frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: forceImport optimism and trigger and upgrade
  contracts/.openzeppelin/unknown-10.json
  contracts/hardhat.config.ts
  contracts/src/SemiFungible1155.sol
  contracts/tasks/force-import.ts
  contracts/tasks/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: forceImport optimism and trigger and upgrade (#424)
  contracts/.openzeppelin/unknown-10.json
  contracts/hardhat.config.ts
  contracts/src/SemiFungible1155.sol
  contracts/tasks/force-import.ts
  contracts/tasks/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: gitcoin utils readme updates
  utils/gitcoin/README.md
Due: prettier --write --ignore-path .gitignore

docs: gitcoin utils readme updates (#425)
  utils/gitcoin/README.md
Due: prettier --write --ignore-path .gitignore

chore: updating links to new .org site in docs
  docs/docs/implementation/token-standard.md
  docs/docs/minting-guide/gitcoin-round.md
Due: prettier --write --ignore-path .gitignore

chore: updating links to new .org site in docs (#432)
  docs/docs/implementation/token-standard.md
  docs/docs/minting-guide/gitcoin-round.md
Due: prettier --write --ignore-path .gitignore

start of updates post-QF close-out
  utils/gitcoin/check_multisigs.py
  utils/gitcoin/config/config.json
  utils/gitcoin/data/qfvotes.json
  utils/gitcoin/get_qfvotes.py
Due: prettier --write --ignore-path .gitignore

initialize optimism PGF data
  utils/optimism/.env.example
  utils/optimism/.gitignore
  utils/optimism/Dockerfile
  utils/optimism/README.md
  utils/optimism/docker-start.sh
  utils/optimism/requirements.txt
Due: prettier --write --ignore-path .gitignore

chore: update env example
  utils/optimism/.env.example
Due: none

extract data on all projects
  utils/optimism/links.txt
  utils/optimism/op_scraper.py
Due: none

op/rpgf2: extract and process data (#453)
  utils/optimism/.env.example
  utils/optimism/.gitignore
  utils/optimism/Dockerfile
  utils/optimism/README.md
  utils/optimism/docker-start.sh
  utils/optimism/links.txt
  utils/optimism/op_scraper.py
  utils/optimism/requirements.txt
Due: prettier --write --ignore-path .gitignore

WIP: updates to op address analysis
  utils/optimism/.gitignore
  utils/optimism/op_scraper.py
  utils/optimism/requirements.txt
  utils/optimism/serialize_address_data.py
Due: none

chore: merge with optimism utils
  utils/optimism/.ipynb_checkpoints/Optimism Retro PGF - Round 2 - V2-checkpoint.ipynb
  utils/optimism/.ipynb_checkpoints/Optimism Retro PGF - Round 2-checkpoint.ipynb
  utils/optimism/Optimism Retro PGF - Round 2 - V2.ipynb
  utils/optimism/Optimism Retro PGF - Round 2.ipynb
  utils/optimism/data/optimism_project_data.json
Due: prettier --write --ignore-path .gitignore

chore: run multisig checks for final gitcoin QF data
  utils/gitcoin/check_multisigs.py
  utils/gitcoin/config/config.json
Due: prettier --write --ignore-path .gitignore

fix: gtc/multisig checks (#456)
  utils/gitcoin/check_multisigs.py
  utils/gitcoin/config/config.json
  utils/gitcoin/data/qfvotes.json
  utils/gitcoin/get_qfvotes.py
  utils/optimism/.ipynb_checkpoints/Optimism Retro PGF - Round 2 - V2-checkpoint.ipynb
  utils/optimism/.ipynb_checkpoints/Optimism Retro PGF - Round 2-checkpoint.ipynb
  utils/optimism/Optimism Retro PGF - Round 2 - V2.ipynb
  utils/optimism/Optimism Retro PGF - Round 2.ipynb
  utils/optimism/data/optimism_project_data.json
Due: prettier --write --ignore-path .gitignore

fix: add address to scraper
  utils/optimism/.gitignore
  utils/optimism/op_scraper.py
Due: none

feat: grab optimism wallet stats from etherscan
  utils/optimism/data/optimism_project_data.json
  utils/optimism/serialize_address_data.py
Due: prettier --write --ignore-path .gitignore

feat: add utils for OP retro pgf analysis (#457)
  utils/optimism/.gitignore
  utils/optimism/data/optimism_project_data.json
  utils/optimism/op_scraper.py
  utils/optimism/requirements.txt
  utils/optimism/serialize_address_data.py
Due: prettier --write --ignore-path .gitignore

fetch github events data for all OP projects
  utils/optimism/.gitignore
  utils/optimism/data/optimism_project_data.json
  utils/optimism/github_events.py
Due: prettier --write --ignore-path .gitignore

fetch github events data for all OP projects (#459)
  utils/optimism/.gitignore
  utils/optimism/data/optimism_project_data.json
  utils/optimism/github_events.py
Due: prettier --write --ignore-path .gitignore

feat: add and assign splits to multisigs
  utils/gitcoin/allowlist.py
  utils/gitcoin/check_multisigs.py
  utils/gitcoin/config/config.json
  utils/gitcoin/config/multisig-mapping.json
Due: prettier --write --ignore-path .gitignore

feat: add (dummy) wallet addresses for matching pool donors to round data
  utils/gitcoin/config/rounds-list.json
Due: prettier --write --ignore-path .gitignore
