Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.json": [
    "prettier --write --ignore-path .gitignore"
  ]
}

feat: Add support for web3.storage
  .lintstagedrc
  README.md
  sdk/.env.template
  sdk/README.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/.graphclient/schema.graphql
  sdk/src/.graphclient/sources/hypercerts-dev/introspectionSchema.ts
  sdk/src/.graphclient/sources/hypercerts-dev/schema.graphql
  sdk/src/.graphclient/sources/hypercerts-dev/types.ts
  sdk/src/errors.ts
  sdk/src/index.ts
  sdk/src/operator/index.ts
  sdk/test/interface.test.ts
  sdk/test/operator.test.ts
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: Add support for web3.storage (#345)
  .lintstagedrc
  README.md
  sdk/.env.template
  sdk/README.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/.graphclient/schema.graphql
  sdk/src/.graphclient/sources/hypercerts-dev/introspectionSchema.ts
  sdk/src/.graphclient/sources/hypercerts-dev/schema.graphql
  sdk/src/.graphclient/sources/hypercerts-dev/types.ts
  sdk/src/errors.ts
  sdk/src/index.ts
  sdk/src/operator/index.ts
  sdk/test/interface.test.ts
  sdk/test/operator.test.ts
  sdk/yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: update ordering of faqs
  docs/docs/faq.md
Due: none

docs: update ordering of faqs (#348)
  docs/docs/faq.md
Due: none

feat(sdk): Add a HypercertsStorage class
  sdk/.env.template
  sdk/.graphclientrc.yml
  sdk/src/index.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/operator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat(sdk): Add a HypercertsStorage class (#349)
  sdk/.env.template
  sdk/.graphclientrc.yml
  sdk/src/index.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/operator/index.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: outdated url (#343)
  docs/docs/minting-guide/step-by-step.md
Due: none

fix: deploy npm to hypercerts-org scope
  .github/workflows/ci-default.yml
  contracts/README.md
  contracts/package.json
  contracts/yarn.lock
  defender/package.json
  frontend/.env.local.example
  frontend/components/hypercert-fetcher.tsx
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
  frontend/lib/hypercerts-storage.ts
  frontend/next.config.js
  frontend/package.json
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/index.ts
  sdk/src/minting.ts
  sdk/yarn.lock
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Fix/audit findings pre release (#266)
  contracts/.prettierrc.yml
  contracts/.solhint.json
  contracts/audits/Hypercerts-security-review.md
  contracts/docs/HypercertMinter.md
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/src/AllowlistMinter.sol
  contracts/src/HypercertMinter.sol
  contracts/src/SemiFungible1155.sol
  contracts/src/Upgradeable1155.sol
  contracts/src/interfaces/IAllowlist.sol
  contracts/src/interfaces/IHypercertToken.sol
  contracts/src/libs/Errors.sol
  contracts/test/foundry/AllowlistMinter.t.sol
  contracts/test/foundry/Bitshifting.t.sol
  contracts/test/foundry/HypercertMinter.batchminting.t.sol
  contracts/test/foundry/HypercertMinter.pausable.t.sol
  contracts/test/foundry/PerformanceTesting.t.sol
  contracts/test/foundry/SemiFungible1155.burning.t.sol
  contracts/test/foundry/SemiFungible1155.minting.t.sol
  contracts/test/foundry/SemiFungible1155.transfers.t.sol
  contracts/test/foundry/SemiFungible1155.units.sol
  contracts/test/foundry/SemiFungibleHelper.sol
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: deploy npm to hypercerts-org scope (#351)
  .github/workflows/ci-default.yml
  contracts/README.md
  contracts/package.json
  contracts/yarn.lock
  defender/package.json
  frontend/.env.local.example
  frontend/components/hypercert-fetcher.tsx
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
  frontend/lib/hypercerts-storage.ts
  frontend/next.config.js
  frontend/package.json
  sdk/docs/RELEASE.md
  sdk/package.json
  sdk/src/.graphclient/index.ts
  sdk/src/index.ts
  sdk/src/minting.ts
  sdk/yarn.lock
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: remove hardcoded ABI in defender scripts
  defender/package.json
  defender/src/HypercertMinterABI.js
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: remove hardcoded ABI in defender scripts (#352)
  defender/package.json
  defender/src/HypercertMinterABI.js
  defender/src/auto-tasks/batch-mint-claims-from-allowlists.ts
  defender/src/auto-tasks/mint-claim-from-allowlist.ts
  defender/src/auto-tasks/on-allowlist-created.ts
  defender/src/create-sentinel.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: adding to the devops docs
  docs/docs/devops/errors.md
  docs/docs/devops/index.md
  docs/docs/devops/pause.md
  docs/docs/devops/setup.md
  docs/docs/devops/unpause.md
Due: none

fix: rebuild grants data
  utils/gitcoin/config/bundles-list.json
  utils/gitcoin/config/config.json
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/config/rounds-list.json
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/data/graph-data.json
  utils/gitcoin/data/projects/canonical_project_data.json
  utils/gitcoin/get_grants_data.py
Due: prettier --write --ignore-path .gitignore

fix: remove pandas dependency from grants fetcher
  utils/gitcoin/get_grants_data.py
Due: none

fix: update paths in allowlist.py
  utils/gitcoin/.gitignore
  utils/gitcoin/allowlist.py
  utils/gitcoin/config/config.json
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/data/csv/projects.json
Due: prettier --write --ignore-path .gitignore

fix: switch mistake in allowlist dirs
  utils/gitcoin/allowlist.py
Due: none

chore: update dirs in allowlist sanction screener
  utils/gitcoin/screen_allowlist.py
Due: none

fix: refactor project serialization script
  utils/gitcoin/serialize_project_data.py
Due: none

fix: consolidate address scanning scripts
  utils/gitcoin/serialize_address_data.py
Due: none

chore: run serialization scripts
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/serialize_project_data.py
  utils/gitcoin/serialize_project_stats.py
Due: prettier --write --ignore-path .gitignore

chore: refactor image resizing script
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/process_images.py
Due: prettier --write --ignore-path .gitignore

fix: refactor hypercert dims creation
  utils/gitcoin/config/config.json
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/serialize_hypercert_data.py
Due: prettier --write --ignore-path .gitignore

fix: refactor url generators
  utils/gitcoin/config/config.json
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/create_hypercert_minting_urls.py
Due: prettier --write --ignore-path .gitignore

chore: remove old dirs and add readmes
  utils/gitcoin/.gitignore
  utils/gitcoin/data/allowlists/README.md
  utils/gitcoin/data/csv/README.md
  utils/gitcoin/data/csv/projects.json
  utils/gitcoin/data/donorlists/README.md
  utils/gitcoin/data/images/README.md
  utils/gitcoin/data/project_urls.md
  utils/gitcoin/data/projects/canonical_project_data.json
  utils/gitcoin/data/projects/project_urls.html
  utils/gitcoin/data/projects/project_urls.md
Due: prettier --write --ignore-path .gitignore

utils/refactor-2 (#353)
  utils/gitcoin/.gitignore
  utils/gitcoin/allowlist.py
  utils/gitcoin/config/bundles-list.json
  utils/gitcoin/config/config.json
  utils/gitcoin/config/gitcoin-settings.json
  utils/gitcoin/config/projects-list.json
  utils/gitcoin/config/rounds-list.json
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/data/allowlists/README.md
  utils/gitcoin/data/canonical-project-data.json
  utils/gitcoin/data/csv/README.md
  utils/gitcoin/data/donorlists/README.md
  utils/gitcoin/data/dune/projects.json
  utils/gitcoin/data/graph-data.json
  utils/gitcoin/data/images/README.md
  utils/gitcoin/data/project_urls.md
  utils/gitcoin/data/projects/canonical_project_data.json
  utils/gitcoin/data/projects/project_urls.html
  utils/gitcoin/data/projects/project_urls.md
  utils/gitcoin/get_grants_data.py
  utils/gitcoin/process_images.py
  utils/gitcoin/screen_allowlist.py
  utils/gitcoin/serialize_address_data.py
  utils/gitcoin/serialize_hypercert_data.py
  utils/gitcoin/serialize_project_data.py
  utils/gitcoin/serialize_project_stats.py
Due: prettier --write --ignore-path .gitignore

chore: remove old modules
  utils/gitcoin/analyze_address.py
  utils/gitcoin/config.json
  utils/gitcoin/create_hypercert_metadata.py
  utils/gitcoin/create_metadata.sh
Due: prettier --write --ignore-path .gitignore

fix: update requirements and shell script
  utils/gitcoin/initialize.sh
  utils/gitcoin/requirements.txt
Due: none

feat: supporting multiple networks for contract deployment
  README.md
  contracts/.env.example
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/generate-address.ts
  contracts/tasks/index.ts
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/index.md
  docs/docs/devops/pause.md
  docs/docs/devops/setup.md
  docs/docs/devops/unpause.md
  docs/docs/devops/upgrade.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

update readme
  utils/gitcoin/README.md
Due: none

feat: show opEth balance in data table
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

feat: supporting multiple networks for contract deployment (#354)
  README.md
  contracts/.env.example
  contracts/README.md
  contracts/guides/devops/index.md
  contracts/guides/devops/pause.md
  contracts/guides/devops/setup.md
  contracts/guides/devops/unpause.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/generate-address.ts
  contracts/tasks/index.ts
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/errors.md
  docs/docs/devops/index.md
  docs/docs/devops/pause.md
  docs/docs/devops/setup.md
  docs/docs/devops/unpause.md
  docs/docs/devops/upgrade.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

utils/cleanup (#355)
  utils/gitcoin/README.md
  utils/gitcoin/analyze_address.py
  utils/gitcoin/config.json
  utils/gitcoin/create_hypercert_metadata.py
  utils/gitcoin/create_hypercert_minting_urls.py
  utils/gitcoin/create_metadata.sh
  utils/gitcoin/initialize.sh
  utils/gitcoin/requirements.txt
Due: prettier --write --ignore-path .gitignore

Update docusaurus.config.js
  docs/docusaurus.config.js
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Add files via upload
  docs/static/img/icons/beige.svg
  docs/static/img/icons/green.svg
  docs/static/img/icons/red.svg
  docs/static/img/icons/yellow.svg
Due: none

Add files via upload
  docs/src/components/homepage/homeNavBoxes.js
  docs/src/components/homepage/homeNavBoxes.module.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/src/pages/video.module.css
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

Rename index.md to intro.md
  docs/docs/intro.md
Due: none

Add about doc (#336)
  docs/docs/about.md
  docs/docs/intro.md
  docs/docusaurus.config.js
  docs/src/components/homepage/homeNavBoxes.js
  docs/src/components/homepage/homeNavBoxes.module.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/src/pages/video.module.css
  docs/static/img/icons/beige.svg
  docs/static/img/icons/green.svg
  docs/static/img/icons/red.svg
  docs/static/img/icons/yellow.svg
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: Adding more instructions to deploy-proxy
  README.md
  contracts/README.md
  contracts/docs/HypercertMinter.md
  contracts/docs/SemiFungible1155.md
  contracts/docs/Upgradeable1155.md
  contracts/docs/interfaces/IHypercertToken.md
  contracts/docs/libs/Errors.md
  contracts/tasks/generate-address.ts
  defender/README.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/index.md
  docs/docs/devops/setup.md
  docs/docs/devops/upgrade.md
  frontend/README.md
  graph/README.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: Adding more instructions to deploy-proxy (#357)
  README.md
  contracts/README.md
  contracts/docs/HypercertMinter.md
  contracts/docs/SemiFungible1155.md
  contracts/docs/Upgradeable1155.md
  contracts/docs/interfaces/IHypercertToken.md
  contracts/docs/libs/Errors.md
  contracts/tasks/generate-address.ts
  defender/README.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/index.md
  docs/docs/devops/setup.md
  docs/docs/devops/upgrade.md
  frontend/README.md
  graph/README.md
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore
