Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{md,json}": [
    "prettier --write --ignore-path .gitignore"
  ]
}

fix: make url format compatible with fleek
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

gtc/final allowlists (#485)
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

fix: confetti should show up before redirect
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: confetti should show up before redirect (#486)
  frontend/components/hypercert-create.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: add a simple indefinite progress bar in contract modal
  frontend/components/contract-interaction-dialog-context.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: add a simple indefinite progress bar in contract modal (#487)
  frontend/components/contract-interaction-dialog-context.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

chore: delete temp urls
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

chore: delete temp urls (#490)
  utils/gitcoin/data/project_urls.md
Due: prettier --write --ignore-path .gitignore

fix: remove markdown from url generator
  utils/gitcoin/create_hypercert_minting_urls.py
Due: none

chore: adding details to instructions and FAQs
  docs/docs/faq.md
  docs/docs/minting-guide/gitcoin-round.md
  docs/docs/minting-guide/step-by-step.md
Due: prettier --write --ignore-path .gitignore

docs: updates following todays release (#491)
  docs/docs/faq.md
  docs/docs/minting-guide/gitcoin-round.md
  docs/docs/minting-guide/step-by-step.md
  utils/gitcoin/create_hypercert_minting_urls.py
Due: prettier --write --ignore-path .gitignore

feat: insert addresses directly into supabase
  utils/supabase/.env.example
  utils/supabase/.gitignore
  utils/supabase/README.md
  utils/supabase/insert_allowlist.py
  utils/supabase/requirements.txt
Due: prettier --write --ignore-path .gitignore

feat: insert addresses directly into supabase (#493)
  utils/supabase/.env.example
  utils/supabase/.gitignore
  utils/supabase/README.md
  utils/supabase/insert_allowlist.py
  utils/supabase/requirements.txt
Due: prettier --write --ignore-path .gitignore

fix: update FAQs
  docs/docs/faq.md
Due: prettier --write --ignore-path .gitignore

fix: update FAQs (#499)
  docs/docs/faq.md
Due: prettier --write --ignore-path .gitignore

feat: lookup claim rights for any users
  utils/supabase/lookup_gtc_user.py
Due: none

feat: lookup claim rights for any users (#502)
  utils/supabase/lookup_gtc_user.py
Due: none

fix: optional patch for handling filenames with accented characters on web3.storage
  utils/gitcoin/utils.py
Due: none

fix: optional patch for handling filenames with accented characters (#504)
  utils/gitcoin/utils.py
Due: none

fix: adding sdk/ to the turbo build
  frontend/.env.local.example
  frontend/package.json
  graph/tests/.latest.json
  package.json
  sdk/.graphclient/index.ts
  sdk/src/config.ts
  sdk/src/constants.ts
  sdk/src/errors.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/test/operator.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/yarn.lock
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: adding sdk/ to the turbo build (#489)
  frontend/.env.local.example
  frontend/package.json
  graph/tests/.latest.json
  package.json
  sdk/.graphclient/index.ts
  sdk/src/config.ts
  sdk/src/constants.ts
  sdk/src/errors.ts
  sdk/src/operator/hypercerts-minting.ts
  sdk/src/operator/hypercerts-storage.ts
  sdk/src/queries/claims.ts
  sdk/src/queries/fractions.ts
  sdk/test/operator.test.ts
  sdk/test/operator/hypercerts-minting.test.ts
  sdk/yarn.lock
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: Add more instructions on how to get started
  README.md
  frontend/.env.local.example
  frontend/README.md
Due: prettier --write --ignore-path .gitignore

docs: Add more instructions on how to get started (#514)
  README.md
  frontend/.env.local.example
  frontend/README.md
Due: prettier --write --ignore-path .gitignore

fix: empty allowlists should throw an exception
  frontend/lib/errors.ts
  frontend/lib/parsing.test.ts
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: empty allowlists should throw an exception (#515)
  frontend/lib/errors.ts
  frontend/lib/parsing.test.ts
  frontend/lib/parsing.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: Add Sentry integration
  frontend/.gitignore
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_error.js
  frontend/pages/sentry_sample_error.js
  frontend/sentry.client.config.js
  frontend/sentry.edge.config.js
  frontend/sentry.properties
  frontend/sentry.server.config.js
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

feat: Add Sentry integration (#516)
  frontend/.gitignore
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_error.js
  frontend/pages/sentry_sample_error.js
  frontend/sentry.client.config.js
  frontend/sentry.edge.config.js
  frontend/sentry.properties
  frontend/sentry.server.config.js
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: turn off prettier check on frontend
  cors-proxy/package.json
  cors-proxy/src/index.test.ts
  frontend/components/contract-interaction-dialog-context.tsx
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/content/merge-hypercert-content.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
  frontend/lib/formatting.ts
  frontend/lib/parsing.ts
  frontend/package.json
  frontend/pages/index-old.tsx
  frontend/types/web3.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

fix: turn off prettier check on frontend (#517)
  cors-proxy/package.json
  cors-proxy/src/index.test.ts
  frontend/components/contract-interaction-dialog-context.tsx
  frontend/components/forms.tsx
  frontend/components/hypercert-create.tsx
  frontend/content/merge-hypercert-content.ts
  frontend/hooks/mintClaim.ts
  frontend/hooks/mintClaimAllowlist.ts
  frontend/hooks/mintFractionAllowlist.ts
  frontend/hooks/mintFractionAllowlistBatch.ts
  frontend/lib/config.ts
  frontend/lib/formatting.ts
  frontend/lib/parsing.ts
  frontend/package.json
  frontend/pages/index-old.tsx
  frontend/types/web3.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write --ignore-path .gitignore

docs: add a SDK interface proposal
  README.md
  docs/docs/developer/api-reference.md
  docs/docs/developer/index.md
  docs/docs/developer/quickstart-javascript.md
  docs/docs/developer/quickstart-solidity.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/errors.md
  docs/docs/devops/index.md
  docs/docs/devops/pause.md
  docs/docs/devops/plasmic.md
  docs/docs/devops/setup.md
  docs/docs/devops/unpause.md
  docs/docs/devops/upgrade.md
Due: prettier --write --ignore-path .gitignore

docs: add a SDK interface proposal (#519)
  README.md
  docs/docs/developer/api-reference.md
  docs/docs/developer/index.md
  docs/docs/developer/quickstart-javascript.md
  docs/docs/developer/quickstart-solidity.md
  docs/docs/devops/deploy-proxy.md
  docs/docs/devops/errors.md
  docs/docs/devops/index.md
  docs/docs/devops/pause.md
  docs/docs/devops/plasmic.md
  docs/docs/devops/setup.md
  docs/docs/devops/unpause.md
  docs/docs/devops/upgrade.md
Due: prettier --write --ignore-path .gitignore

feat: create database of projects & claimIds
  utils/supabase/claims_metadata_mapper.py
Due: none

feat: create database of projects & claimIds (#522)
  utils/supabase/claims_metadata_mapper.py
Due: none

docs: move storage keys initialization to client constructor
  docs/docs/developer/quickstart-javascript.md
Due: prettier --write --ignore-path .gitignore

docs: move storage keys initialization to client constructor (#524)
  docs/docs/developer/quickstart-javascript.md
Due: prettier --write --ignore-path .gitignore

docs: add eval to SDK docs
  docs/docs/developer/quickstart-javascript.md
Due: prettier --write --ignore-path .gitignore

docs: add eval to SDK docs (#525)
  docs/docs/developer/quickstart-javascript.md
Due: prettier --write --ignore-path .gitignore

fix: better data pipes between TheGraph and Supabase
  utils/supabase/claims_metadata_mapper.py
  utils/supabase/lookup_gtc_user.py
Due: none
