Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

fix(tests): contracts tests and dep updates
  contracts/hardhat.config.cts
  contracts/package.json
  contracts/test/foundry/marketplace/BatchMakerOrders.t.sol
  contracts/test/foundry/marketplace/SignaturesRevertions.t.sol
  pnpm-lock.yaml
  turbo.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/ --ignore-pattern graph/, prettier --write

fix(lockfile): update contracts package lockfile
  pnpm-lock.yaml
Due: none

Create FUNDING.json for DRIPS
  FUNDING.json
Due: prettier --write

Update FUNDING.json with Filecoin address
  FUNDING.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write
