Repository hypercerts-org/hypercerts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

more local fixes
  docker/e2e.env
Due: none

Delete playwright.Dockerfile.rej
  docker/playwright.Dockerfile.rej
Due: none

Disable docker builds
  .github/workflows/docker-deps.yml
Due: none

remove temp code
  docker/run_tests.sh
Due: none

fixes
  docker/compose.yaml
  docker/run_tests.sh
  e2e/mint-token.spec.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

more logging
  frontend/hooks/checkWriteable.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

some fixes
  docker/compose.yaml
  docker/e2e.env
  docker/run_tests.sh
Due: none

Create e2e_proxy.conf
  docker/nginx/e2e_proxy.conf
Due: none

fix nginx
  docker/compose.yaml
  docker/run_tests.sh
  frontend/hooks/checkWriteable.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

more fixes for this thing
  contracts/tasks/test-tx-client.ts
  docker/compose.yaml
  docker/frontend.sh
  docker/tx_client.sh
  package.json
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Create dev.env
  docker/dev.env
Due: none

fixes
  contracts/tasks/test-tx-client.ts
  e2e/mint-token.spec.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

proxy all
  docker/nginx/e2e_proxy.conf
Due: none

clean up
  docker/compose.yaml
  docker/run_tests.sh
Due: none

playwright shouldn't manage the containers
  playwright.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Add missing env
  docker/dev.env
  docker/e2e.env
  docker/playwright.Dockerfile
Due: none

Add missing env
  docker/after_localchain.sh
  docker/run_tests.sh
Due: none

Add missing env
  docker/compose.yaml
Due: none

no waiting
  package.json
Due: prettier --write

Get logs from gh
  .github/workflows/e2e-tests.yml
  package.json
Due: prettier --write

Test fix
  .github/workflows/e2e-tests.yml
  docker/after_localchain.sh
  docker/compose.yaml
Due: none

Add install script
  docker/install.sh
Due: none

now working on linux machine
  docker/after_localchain.sh
Due: none

remove retention from gh action
  .github/workflows/e2e-tests.yml
Due: none

fix public domain
  docker/e2e.env
Due: none

Check env
  .github/workflows/e2e-tests.yml
Due: none

enable testing environment
  .github/workflows/e2e-tests.yml
Due: none

disable vnc by default
  docker/compose.yaml
  docker/run_tests.sh
Due: none

give a long timeout for tests
  playwright.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

tweak tests. record failures
  .github/workflows/e2e-tests.yml
  e2e/mint-token.spec.ts
  playwright.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

always run this on main
  .github/workflows/e2e-tests.yml
Due: none

Github Actions for e2e tests (#933)
  .github/workflows/docker-deps.yml
  .github/workflows/e2e-tests.yml
  contracts/tasks/test-tx-client.ts
  docker/README.md
  docker/after_localchain.sh
  docker/base.env
  docker/compose.yaml
  docker/dev.env
  docker/e2e.env
  docker/frontend.sh
  docker/graph.Dockerfile
  docker/install.sh
  docker/nginx/e2e_proxy.conf
  docker/playwright.Dockerfile
  docker/run_tests.sh
  docker/scripts/build-base.sh
  docker/scripts/build-graph-dependencies.sh
  docker/scripts/build-graph.sh
  docker/scripts/build-playwright.sh
  docker/tx_client.sh
  e2e/fixtures/metamask.ts
  e2e/mint-token.spec.ts
  e2e/utils/constants.ts
  frontend/hooks/checkWriteable.ts
  nohup.out
  package.json
  playwright.config.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Stub UI working; needs theming work
  frontend/components/project-browser/css/browser.module.css
  frontend/components/project-browser/css/data-table.module.css
  frontend/components/project-browser/data-table/field-default.tsx
  frontend/components/project-browser/data-table/field-growth.tsx
  frontend/components/project-browser/data-table/field-label.tsx
  frontend/components/project-browser/data-table/field-project.tsx
  frontend/components/project-browser/data-table/field-status.tsx
  frontend/components/project-browser/project-browser.tsx
  frontend/components/project-browser/project-client-provider.tsx
  frontend/components/project-browser/project-contexts.tsx
  frontend/components/project-browser/project-data-table.tsx
  frontend/lib/data-table.tsx
  frontend/lib/projects.tsx
  frontend/package.json
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

more testing code for proper styling
  frontend/components/project-browser/data-table/field-growth.tsx
  frontend/components/project-browser/project-browser.tsx
  frontend/components/project-browser/project-client-provider.tsx
  frontend/lib/projects.tsx
  frontend/package.json
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

OS Observer UI (#939)
  frontend/components/project-browser/css/browser.module.css
  frontend/components/project-browser/css/data-table.module.css
  frontend/components/project-browser/data-table/field-default.tsx
  frontend/components/project-browser/data-table/field-growth.tsx
  frontend/components/project-browser/data-table/field-label.tsx
  frontend/components/project-browser/data-table/field-project.tsx
  frontend/components/project-browser/data-table/field-status.tsx
  frontend/components/project-browser/project-browser.tsx
  frontend/components/project-browser/project-client-provider.tsx
  frontend/components/project-browser/project-contexts.tsx
  frontend/components/project-browser/project-data-table.tsx
  frontend/lib/data-table.tsx
  frontend/lib/projects.tsx
  frontend/package.json
  frontend/plasmic-init.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

fix some linting
  frontend/components/project-browser/project-browser.tsx
  frontend/components/project-browser/project-client-provider.tsx
  frontend/components/project-browser/project-data-table.tsx
  frontend/lib/projects.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix some linting (#941)
  frontend/components/project-browser/project-browser.tsx
  frontend/components/project-browser/project-client-provider.tsx
  frontend/components/project-browser/project-data-table.tsx
  frontend/lib/projects.tsx
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Create ftc-purchase.tsx
  frontend/components/ftc-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

add ftc form to plasmic
  frontend/plasmic-init.ts
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Fix export
  frontend/components/ftc-purchase.tsx
Due: eslint --ignore-path .gitignore --ignore-pattern sdk/, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --ignore-pattern sdk/: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
